{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %}Artefatos e Eventos - Parte 3{% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/pacer.png')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %}
Artefatos e Eventos - Parte 3
{% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2 id="titulo1">Sprints</h2>
<div class="div-textoimagem">
  <p class="txt-conteudo">
    <img src="{{url_for('static', filename='images/AGILE-TODAY.png')}}" alt="agile today-img"
      class="imagem-com-texto-paragrafo" id="imagem-planningmeetin">
    Sprints são ciclos de duração pré-determinada que dividem o projeto em etapas de desenvolvimento. Cada sprint tem
    uma duração fixa, geralmente de duas a quatro semanas, mas pode variar conforme a necessidade do projeto. Ao fim de
    cada sprint, que tem duração de até um mês, o Product Owner apresenta o que foi desenvolvido pelo time, permitindo
    constantemente a validação do produto e ajustes no processo e na equipe. A cada sprint, a equipe revisa e adapta o
    backlog, priorizando as funcionalidades mais importantes para a próxima iteração. As sprints são fundamentais para
    garantir a entrega contínua de valor e possibilitar ajustes rápidos conforme o feedback dos stakeholders e as
    mudanças nas condições do mercado ou nas necessidades dos usuários. Durante cada sprint, a equipe se concentra em
    completar um incremento funcional do produto que esteja potencialmente pronto para ser entregue ou utilizado.
    Sprints acontecem periodicamente até o prazo de finalização do projeto e contam com cerimônias fundamentais para seu
    funcionamento. A seguir iremos falar sobre as principais.
  </p>
</div>

<div class="txt-conteudo">
  <ul class="conteudo-papeis-pilares-lista">
    <li><strong>Sprint Planning Meeting:</strong> Como vimos anteriormente, trata-se do primeiro evento de todo ciclo,
      no qual todo o Time Scrum elabora e planeja previamente a Sprint e decide o que será produzido durante ela e o que
      será entregue ao fim dela. As reuniões de planejamento de Sprint são fundamentais para organizar o Time Scrum e
      orientar o que deve ser produzido. Portanto, o fim de uma Sprint Planning Meeting é marcado pela produção do
      Backlog da Sprint, onde as funcionalidades a serem entregues são compiladas e hierarquizadas.
    </li>
    <br>
    <li><strong>Daily Scrum:</strong> As Daily Scrum são estritamente necessárias para manter o andamento do projeto
      congruente para todo o Time Scrum. Consistem em reuniões diárias breves que permitem que todos possam comunicar e
      sincronizar seu trabalho ao decorrer da Sprint. Durante uma Daily Scrum, o Scrum Master faz três perguntas para
      que cada membro do Time Scrum as responda individualmente, sendo elas, por exemplo: 'O que foi feito ontem?', 'O
      que será feito hoje?' e 'Há algum impedimento?'. Dessa forma, o levantamento e a análise do andamento da Sprint
      são facilitados, permitindo que o Time de Desenvolvimento possa corrigir ou adaptar algum problema no processo o
      mais rapidamente possível.
    </li>
    <br>
    <li><strong>Sprint Review:</strong> Representa a apresentação do desenvolvimento de uma Sprint após o fim dela.
      Aqui, o Product Owner se baseia no que foi entregue e compara com o que foi acordado durante o Sprint Planning
      Meeting para validar ou não a Sprint.
      Normalmente, essa cerimônia é contemplada tanto pelo cliente quanto por um público interessado. Sendo assim, ao
      final de uma Sprint Review, o Time Scrum deve deixar nítido o que foi produzido e se dispor a responder quaisquer
      perguntas dos presentes.
    </li>
    <br>
    <li><strong>Sprint Retrospective:</strong> O marco final de uma Sprint. Consiste em uma reunião envolvendo todo o
      Time Scrum, feita com o objetivo de levantar dados da Sprint que acabou de se encerrar. Aqui, o Time Scrum discute
      o que correu bem durante esse ciclo, levanta as dificuldades enfrentadas pela equipe, propõe soluções para tais
      problemas e define o que e de que forma melhorar na próxima Sprint.
    </li>
    <br>
    <li> <strong>Release Planning Meeting:</strong> A cerimônia do Release Planning Meeting diz respeito a convenções
      feitas pelo Time Scrum para a concepção de uma Release. Esse evento Scrum ajuda a definir a visão a longo prazo do
      projeto, consolidar o caminho a ser seguido além de uma sprint, definindo um prazo estimado para a incrementação
      de certas funcionalidades requeridas do produto. Release é a entrega dos resultados de várias Sprints ao
      cliente/mercado. Não exige o projeto completo, mas necessita de funcionalidades que agreguem valor o bastante.
    </li>
    <br>
  </ul>
</div>
{% endblock text %}


<!-- Seção Em Resumo -->
{% block em_resumo %}
<div class="col-12 col-lg-3 ">
  <img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="rounded img-card-sobre-nos">
</div>
<div class="col">
  <ul>
    <li>São ciclos de duração pré-determinada que dividem o projeto em etapas de desenvolvimento.</li>
    <li>Cada sprint tem uma duração fixa, geralmente de duas a quatro semanas, permitindo a entrega contínua de valor.
    </li>
    <li>Ao fim de cada sprint, o Product Owner apresenta o que foi desenvolvido pelo time, permitindo a validação do
      produto e ajustes no processo e no time.</li>
    <li>Durante cada sprint, a equipe revisa e adapta o backlog, priorizando as funcionalidades mais importantes para a
      próxima iteração da equipe.</li>
    <li>Elaboração e planejamento prévio da sprint.</li>
    <li>Definição do que será produzido e entregue.</li>
    <li>Reuniões diárias para comunicação e sincronização do trabalho.</li>
    <li>Apresentação do desenvolvimento e validação do que foi entregue.</li>
    <li>Discussão do que correu bem, dificuldades enfrentadas e propostas de melhoria.</li>
    <li>Concepção de uma Release, definindo visão a longo prazo e prazo para incrementação de funcionalidades.</li>
    <li>Release: Entrega dos resultados de várias Sprints ao cliente/mercado, exigindo funcionalidades de valor.</li>
  </ul>
</div>
{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}

<p class="txt-conteudo">
  Implementar o Scrum na prática começa dividindo o projeto em ciclos chamados de sprints, que têm uma duração
  pré-determinada, geralmente de duas a quatro semanas. Cada sprint é focada em alcançar objetivos específicos e
  entregar valor tangível ao final. Durante cada sprint, a equipe trabalha para completar um incremento funcional do
  produto que esteja potencialmente pronto para ser entregue ou utilizado. Isso permite uma entrega contínua de valor ao
  cliente, pois o produto está constantemente sendo desenvolvido e melhorado.
</p>

<p class="txt-conteudo">
  O primeiro passo é o Sprint Planning Meeting, onde o Time Scrum elabora e planeja as atividades a serem realizadas
  durante a sprint. O Product Owner apresenta as funcionalidades mais importantes a serem desenvolvidas, e a equipe se
  compromete com o que será entregue até o fim da sprint. Durante a sprint, são realizadas reuniões diárias, conhecidas
  como Daily Scrum, para garantir que o trabalho esteja alinhado e para identificar e resolver problemas rapidamente.
</p>

<p class="txt-conteudo">
  Ao final da sprint, ocorre a Sprint Review, onde o progresso do trabalho é apresentado ao Product Owner e aos
  stakeholders. Aqui, o que foi entregue é comparado com o planejado durante o Sprint Planning Meeting para validar a
  sprint e garantir que as expectativas foram atendidas. Após a revisão da sprint, ocorre a Sprint Retrospective, onde a
  equipe reflete sobre o que correu bem, identifica áreas de melhoria e define ações para a próxima sprint.
</p>

<p class="txt-conteudo">
  Além das cerimônias durante a sprint, há o Release Planning Meeting, que define a visão a longo prazo do projeto e
  estabelece um plano para a entrega dos resultados de várias sprints. Isso garante que o produto seja entregue de forma
  consistente e alinhada com as necessidades do cliente ou mercado. Essas práticas proporcionam uma abordagem ágil e
  adaptativa ao desenvolvimento de projetos, permitindo que a equipe responda rapidamente às mudanças e entregue valor
  de forma consistente ao cliente.
</p>

{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<!-- QUESTÃO 1 - Modelo 3 -->
<div id="q1-container" class="question-fill-container container">
  <div class="d-flex gap-3 align-items-center text-center">
    <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">1</h4>
    <p class="m-0 p-0">O principal objetivo da Sprint Planning Meeting é definir as
      <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q1-1" id="q1-1" value=""
        disabled>
      que o time executará no desenvolvimento do incremento a ser entregue no
      <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q1-2" id="q1-2" value=""
        disabled>
      da sprint.
    </p>
  </div>
  <div
    class="d-flex flex-column flex-md-row flex-wrap m-4 w-100 row-gap-3 column-gap-lg-2 justify-content-stretch align-items-center">
    <div class="mx-3">
      <input type="checkbox" class="btn-check" name="q1" id="q1a" value="a" autocomplete="off">
      <label class="btn btn-primary rounded-pill px-4" id="q1a-label" for="q1a">retrospectiva</label>
    </div>
    <div class="mx-3">
      <input type="checkbox" class="btn-check" name="q1" id="q1b" value="b" autocomplete="off">
      <label class="btn btn-primary rounded-pill px-4" id="q1b-label" for="q1b">melhorias</label>
    </div>
    <div class="mx-3">
      <input type="checkbox" class="btn-check" name="q1" id="q1c" value="c" autocomplete="off">
      <label class="btn btn-primary rounded-pill px-4" id="q1c-label" for="q1c">tarefas</label>
    </div>
    <div class="mx-3">
      <input type="checkbox" class="btn-check" name="q1" id="q1d" value="d" autocomplete="off">
      <label class="btn btn-primary rounded-pill px-4" id="q1d-label" for="q1d">ano seguinte</label>
    </div>
    <div class="mx-3">
      <input type="checkbox" class="btn-check" name="q1" id="q1e" value="e" autocomplete="off">
      <label class="btn btn-primary rounded-pill px-4" id="q1e-label" for="q1e">final</label>
    </div>
  </div>
</div>

<!-- QUESTÃO 2 - Modelo 4 -->
<div id="q2-container" class="question-assoc-container">
  <div class="d-flex gap-3 align-items-center text-center">
    <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">2</h4>
    <p class="m-0 p-0">Relacione as colunas abaixo de acordo com a duração de uma reunião Sprint Planning Meeting e a
      duração de uma Sprint.</p>
  </div>
  <div class="d-flex flex-column flex-md-row m-4 justify-content-around align-items-center">
    <!-- First column -->
    <div class="d-flex flex-column justify-content-around align-items-center gap-3">
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2a1" value="a1" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q2a1">Sprint de 1 mês</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2b1" value="b1" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q2b1">Sprint de 3 semanas</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2c1" value="c1" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q2c1">Sprint de 2 semanas</label>
      </div>
    </div>
    <!-- Second column -->
    <div class="d-flex flex-column justify-content-around align-items-center gap-3 mt-4">
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2a2" value="a2" autocomplete="off">
        <label class="btn btn-outline-primary rounded-pill px-4" for="q2a2">
          Reunião de 4 horas
        </label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2b2" value="b2" autocomplete="off">
        <label class="btn btn-outline-primary rounded-pill px-4" for="q2b2">
          Reunião de 6 horas
        </label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2c2" value="c2" autocomplete="off">
        <label class="btn btn-outline-primary rounded-pill px-4" for="q2c2">
          Reunião de 8 horas
        </label>
      </div>
    </div>
  </div>
  <div id="q2-associacoes" class="d-flex flex-column justify-content-around align-items-center gap-4">
    <p></p>
  </div>
</div>


<button type="button" id="submit-quiz" class="submit-btn">Enviar exame</button>

<div id="resultPopup" class="popup" style="display: none;">
  <div id="popupContent">
  </div>
</div>
<div id="overlay" class="opaque" style="display: none;"></div>
{% endblock quiz %}


{% block referencias %}
<p>
  <a href=" https://www.scrum.org/resources/what-scrum-module " target=" _blank" rel="noopener noreferrer">
    WEST, Dave. What is Scrum?. Scrum.org, Miami, 23 mar. 2022. Disponível em:
    https://www.scrum.org/resources/what-scrum-module. Acesso em: 03 maio 2024.
  </a>
</p>
{% endblock %}

{%block nextpage%}
<a href="/artefatos-e-eventos-2">
  <button class="botao-nextpage botao-previouspage">
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M24.25 37L42.75 18.5L41.25 17L22.75 37L41.25 57.5L42.75 56L24.25 37Z" fill="white"></path>
    </svg>
    <span>Conteúdo Anterior</span>
  </button>
</a>
<a href="/estimativas">
  <button class="botao-nextpage">
    <span>Proximo Conteúdo</span>
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M49.5 37L31 55.5L32.5 57L51 37L32.5 17.5L31 19L49.5 37Z" fill="white"></path>
    </svg>
  </button>
</a>
{% endblock%}


<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo1">
  Sprints
</a>
{% endblock %}


{% block quizjs %}
<script>
  $(document).ready(function () {

    /* Questão 1 - Modelo 3: 2 altenativas corretas - completar lacunas */
    const respostasCorretasQ1 = [ 'c', 'e' ];
    const respostasQ1 = [];   // Respostas do usuário
    questoes.limitChoices(2, 'q1', respostasQ1, questoes.fillBlanks);

    /** Questão 2 - Modelo 4: Associar colunas */
    const respostasCorretasQ2 = {
      'a1': 'c2',
      'b1': 'b2',
      'c1': 'a2'
    };
    const respostasQ2 = {};
    questoes.assoc('q2', respostasQ2);



    $("#submit-quiz").on('click', function () {
      let totalAcertos = 0;

      // Corrige a questão 1
      let certa1 = questoes.valida(respostasQ1, respostasCorretasQ1);
      if (certa1) {
        totalAcertos += 1;
      }

      // Corrige a questão 2
      let certa2 = questoes.valida(respostasQ2, respostasCorretasQ2);
      if (certa2) {
        totalAcertos += 1;
      }

      let data = {
        "totalCorrect": totalAcertos,
        "userAnswers": [ respostasQ1, respostasQ2 ],
      };

      questoes.submitScore(data);
    });
  });
</script>
{% endblock quizjs %}