{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %} Sprint Planning Meeting {% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/sprint-planning-meeting-cover.png')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %}
Artefatos e Eventos - Parte 2
{% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2>Sprint Planning Meeting </h2>
<div class="div-textoimagem">
  <p class="txt-conteudo">
  <img src="{{url_for('static', filename='images/sprint-plan-met.png')}}" alt="introducao-img" class="imagem-com-texto-paragrafo" id="imagem-planningmeetin">
  No Scrum, a Sprint Planning Meeting é uma etapa crucial que inaugura cada sprint, onde a equipe, junto ao Product
  Owner e Scrum Master, colabora na definição dos objetivos e na seleção das histórias de usuário a serem trabalhadas.
  Durante essa reunião, o Product Owner apresenta o Product Backlog, discutindo prioridades e metas com a equipe. Em
  seguida, a equipe analisa as histórias de usuário, estimando esforços e selecionando as que comporão o Sprint Backlog.
  A partir daí, inicia-se o desenvolvimento, visando produzir um Product Increment ao longo da sprint. Para assegurar a
  qualidade, a equipe segue uma Definição de Pronto, estabelecendo critérios a serem cumpridos por cada história antes
  de sua conclusão. Em síntese, a Sprint Planning Meeting é o ponto de partida para a definição do trabalho a ser
  realizado, culminando na produção de valor consistente a cada sprint, fundamentando o sucesso do Scrum e a eficiência
  da equipe.</p>
</div>

<div class="txt-conteudo">
  <ul class="conteudo-papeis-pilares-lista">
    <li>No Scrum, a Sprint Planning Meeting é uma cerimônia essencial que marca o início de cada sprint, durante esta
      reunião, a equipe de desenvolvimento, juntamente com o Product Owner e o Scrum Master, colabora para definir os
      objetivos da sprint e selecionar as histórias de usuário que serão trabalhadas.</li>
    <br>
    <li>Durante a Sprint Planning Meeting, o Product Owner apresenta o Product Backlog e discute as prioridades e
      objetivos com a equipe. A equipe, então, analisa as histórias de usuário e estima o esforço necessário para
      concluí-las. Com base nessa análise, eles selecionam as histórias que serão incluídas no Sprint Backlog, que é uma
      lista de tarefas específicas a serem realizadas durante a sprint.</li>
    <br>
    <li>Uma vez que o Sprint Backlog é definido, a equipe começa a trabalhar na implementação das histórias de usuário.
      Durante a sprint, o objetivo é produzir um Product Increment, que é uma versão potencialmente entregável do
      produto, contendo as funcionalidades desenvolvidas durante a sprint.</li>
    <br>
    <li>Para garantir a qualidade do Product Increment, a equipe segue uma Definição de Pronto (DoD). A Definição de
      Pronto é um conjunto de critérios que uma história de usuário deve atender antes de ser considerada concluída.
      Isso pode incluir requisitos de testes, revisão de código, integração contínua e outros padrões de qualidade
      específicos da equipe.</li>
    <br>
    <li>Em resumo, durante a Sprint Planning Meeting, a equipe define o que será feito durante a sprint, cria o Sprint
      Backlog, trabalha para produzir um Product Increment e segue a Definição de Pronto para garantir a qualidade do
      trabalho entregue. Esses elementos são fundamentais para o sucesso do Scrum, permitindo que a equipe trabalhe de
      forma eficiente e produza valor de forma consistente em cada Sprint.</li>
    <br>
  </ul>
</div>
{% endblock text %}


<!-- Seção Em Resumo -->
{% block em_resumo %}
  <img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="img-em-resumo">
  <ul >
    <li>A Sprint Planning inicia cada sprint, onde equipe e Product Owner definem objetivos e selecionam histórias de
      usuário.</li>
    <li>Durante a reunião, o Product Owner apresenta o Product Backlog e a equipe escolhe as histórias para o Sprint
      Backlog.</li>
    <li>O objetivo da sprint é criar um Product Increment, uma versão entregável com novas funcionalidades.</li>
    <li>Para garantir qualidade, a equipe segue uma Definição de Pronto com critérios específicos.</li>
    <li>Esses passos são essenciais para o sucesso do Scrum, permitindo eficiência e entrega de valor a cada sprint.
    </li>
  </ul>

{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}

<p class="txt-conteudo">O Scrum é uma metodologia ágil popular para gerenciamento de projetos, com a Sprint Planning Meeting sendo uma de
  suas principais cerimônias. Durante essa reunião, a equipe define objetivos, seleciona histórias de usuário e cria o
  Sprint Backlog. Posteriormente, o foco é na produção de um Product Increment de qualidade, seguindo uma Definição de
  Pronto. Neste contexto, exploraremos cinco maneiras práticas de aplicar esses conhecimentos para aumentar a eficiência
  e a entrega de valor nos projetos.</p>
<ul class="txt-conteudo">
  <li>
    <strong>Planejamento Eficiente de Sprints:</strong> Utilize a Sprint Planning Meeting para
    definir claramente os objetivos da
    sprint e selecionar as histórias de usuário mais relevantes, garantindo que a equipe esteja alinhada com as metas do
    projeto.
  </li>
  <br>
  <li>
    <strong>Priorização e Estimativa de Tarefas:</strong> Trabalhe em conjunto com o Product Owner para priorizar as
    histórias de usuário com base no valor para o cliente e na complexidade, permitindo uma alocação eficiente de
    recursos e tempo durante a sprint.
  </li>
  <br>
  <li>
    <strong>Foco na Entrega Incremental:</strong> Durante a sprint, concentre-se em produzir um Product Increment
    funcional e entregável, priorizando as funcionalidades mais importantes para o produto e os requisitos do cliente.
  </li>
  <br>
  <li>
    <strong>Garantia de Qualidade com a Definição de Pronto:</strong> Adote uma Definição de Pronto clara e específica para cada história de usuário, incluindo
    critérios como testes, revisão de código e integração contínua, para garantir a qualidade do Product Increment
    entregue ao final da sprint.
  </li>
  <br>
  <li>
    <strong>Melhoria Contínua e Reflexão:</strong> Após cada sprint, promova uma retrospectiva para identificar pontos fortes e áreas de melhoria no
    processo do Scrum, permitindo que a equipe ajuste e refine suas práticas para aumentar a eficiência e a entrega de
    valor em sprints futuras.
  </li>
</ul>

{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<!-- QUESTÃO 1 -->
<div class="container" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">1</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">Durante a Sprint Planning Meeting, quem é responsável por apresentar e priorizar os itens do Product Backlog?</p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question mt-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q1" id="q1a" value="a">
          <label for="q1a">a) O Scrum Master.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1b" value="b">
          <label for="q1b">b) o Product Owner.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1c" value="c">
          <label for="q1c">c) O CEO da empresa</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1d" value="d">
          <label for="q1d">d) Todos os membros da equipe</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1e" value="e">
          <label for="q1e">e) O líder do projeto</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- QUESTÃO 2 -->
<div class="container mt-5" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">2</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">
          Qual é o principal objetivo da Sprint Planning Meeting no Scrum?
        </p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question my-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q2" id="q2a" value="a">
          <label for="q2a">a) Revisar o progresso do sprint anterior.
          </label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2b" value="b">
          <label for="q2b">b) Definir as histórias de usuário a serem trabalhadas na próxima sprint.
          </label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2c" value="c">
          <label for="q2c">c) Realizar uma retrospectiva para identificar melhorias.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2d" value="d">
          <label for="q2d">d) Priorizar as tarefas da equipe de desenvolvimento.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2e" value="e">
          <label for="q2e">e) Planejar eventos sociais para a equipe.</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<button type="button" class="submit-btn" onclick="validateForm()">Enviar exame</button>

<div id="resultPopup" class="popup" style="display: none;">
  <div id="popupContent">
  </div>
</div>

<div id="overlay" class="opaque" style="display: none;" onclick="closePopup()"></div>



{% endblock quiz %}

{%block nextpage%}
<a href="/artefatos-e-eventos-1">
  <button class="botao-nextpage botao-previouspage">
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M24.25 37L42.75 18.5L41.25 17L22.75 37L41.25 57.5L42.75 56L24.25 37Z" fill="white"></path>
    </svg>
    <span>Conteúdo Anterior</span>
  </button>
</a>
{% endblock%}


<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#list-item-1">
  Sprint Planning Meeting
</a>
{% endblock %}

{%block quizjs%}
<script>
  async function validateForm() {
    const correctAnswers = {
      q1: 'b',
      q2: 'b'
    };

    const userAnswers = {};
    let totalCorrect = 0;

    for (const question in correctAnswers) {
      const selectedOption = document.querySelector(`input[name=${question}]:checked`);
      const isCorrect = selectedOption ? selectedOption.value === correctAnswers[question] : false;
      if (isCorrect) {
        totalCorrect++;
      }
      userAnswers[ question ] = selectedOption.value;
    }

    const popup = document.getElementById("resultPopup");
    const overlay = document.getElementById("overlay");
    const popupContent = document.getElementById("popupContent");
    popupContent.innerHTML = `
            <div class="card-cadastro1">
                <span class="titulo-cadastro">Parabéns!</span>
                <p class="mensagem-cadastro" style="margin-bottom: 20px">Você acertou um total de ${totalCorrect} de 2 questões.</p>
                <div class="cadastro" style="display: flex;">
                    <a href="#">
                        <button class="botao-enviar-email"> Ir para o Próximo conteúdo</button>
                    </a>
                </div>
            </div>`;
    popup.style.display = "block";
    overlay.style.display = "block";
    
    
    // Enviar totalCorrect para o servidor Flask
    try {
      const response = await fetch('/submit-score', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ totalCorrect: totalCorrect, userAnswers: userAnswers })
      });
      
      const result = await response.json();
      console.log(result);
    } catch (error) {
      console.error('Erro ao enviar dados:', error);
    }
  }
  function closePopup() {
    const popup = document.getElementById("resultPopup");
    const overlay = document.getElementById("overlay");
    popup.style.display = "none";
    overlay.style.display = "none";
  }
</script>

{%endblock%}