{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %}artefatos e eventos-1{% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/backlog.png')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %} Artefatos e Eventos - Parte 1 {% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2 id="titulo-1">Product Backlog</h2>
<div class="div-textoimagem">
  <p class="txt-conteudo">
    <img src="{{url_for('static', filename='images/backlog.png')}}" alt="introducao-img"
      class="imagem-com-texto-paragrafo">
    Dentro do contexto do framework Scrum, o Product Backlog assume uma posição central como um
    artefato dinâmico e estratégico que orienta o desenvolvimento do produto. Ele não apenas enumera tarefas, ele
    encapsula a essência das necessidades do cliente e das expectativas do mercado, servindo como um guia contínuo para
    a
    equipe Scrum. Aqui está uma exploração mais aprofundada de seus componentes e importância:
  </p>
</div>
<div class="subtitles">
  <p>
  <ol>
    <li><strong>Natureza do Product Backlog:</strong>
      <ul>
        <li>O Product Backlog é uma lista dinâmica e priorizada de requisitos, funcionalidades, melhorias e correções
          necessárias para o produto.</li>
        <li>É um artefato em constante evolução, refinado e atualizado ao longo do ciclo de vida do projeto.</li>
        <li>Funciona como uma ponte entre as necessidades do cliente e a entrega de valor pelo time de desenvolvimento.
        </li>
      </ul>
    </li>
    <br>
    <li><strong>Responsabilidade do Product Owner:</strong>
      <ul>
        <li>O Product Owner é responsável por gerenciar e manter o Product Backlog.</li>
        <li>Ele trabalha em estreita colaboração com os stakeholders para entender e priorizar os requisitos do produto.
        </li>
        <li>O Product Owner atua como o guardião do backlog, garantindo que ele permaneça relevante e alinhado aos
          objetivos do produto.</li>
      </ul>
    </li>
    <br>
    <li><strong>Reuniões com o Cliente:</strong>
      <ul>
        <li>As reuniões com o cliente desempenham um papel crucial na elaboração e refinamento do Product Backlog.</li>
        <li>Durante essas interações, o Product Owner e a equipe Scrum se envolvem com os stakeholders para capturar
          requisitos e obter feedback sobre o produto.</li>
        <li>Essas reuniões são oportunidades para alinhar as expectativas do cliente com a visão do produto e definir
          prioridades de desenvolvimento.</li>
      </ul>
    </li>
    <br>
    <li><strong>Visão do Produto:</strong>
      <ul>
        <li>A visão do produto é uma declaração clara e concisa que define o propósito, os objetivos e o valor esperado
          do produto.</li>
        <li>Ela serve como um guia estratégico para toda a equipe Scrum, ajudando a manter o foco nos resultados
          desejados.</li>
        <li>A visão do produto é criada pelo Product Owner em colaboração com os stakeholders e fornece um contexto para
          o desenvolvimento do Product Backlog.</li>
      </ul>
    </li>
    <br>
    <li><strong>User Stories e Outros Itens do Backlog:</strong>
      <ul>
        <li>As User Stories são elementos-chave do Product Backlog, descrevendo requisitos do usuário em um formato
          compreensível.</li>
        <li>Além das User Stories, o backlog pode incluir bugs, melhorias técnicas e qualquer outra demanda relevante
          para o produto.</li>
        <li>Cada item do backlog é avaliado quanto ao seu valor, risco e dependências, para garantir uma priorização
          eficaz.</li>
      </ul>
    </li>
  </ol>
  </p>
</div>
<br>

<h2 id="titulo-2">User Stories</h2>

<p class="txt-conteudo">
  As User Stories, ou histórias de usuário, são uma ferramenta fundamental na metodologia ágil Scrum, utilizada para
  descrever as funcionalidades ou requisitos do sistema do ponto de vista do usuário final. Elas são breves narrativas
  que capturam a essência do que o usuário deseja realizar com o produto ou serviço em desenvolvimento. Cada User Story
  é uma representação simplificada de um recurso ou funcionalidade do produto, expressa em uma linguagem acessível e
  compreensível para todas as partes interessadas, incluindo membros da equipe de desenvolvimento, Product Owner e
  stakeholders.
</p>

<p class="txt-conteudo">
  Uma User Story geralmente segue um formato simples, composto por uma breve descrição do recurso desejado, o tipo de
  usuário que se beneficiará do recurso e a razão pela qual o recurso é importante para o usuário ou para o sucesso do
  produto. Por exemplo, uma User Story pode ser formulada da seguinte maneira: "Como um usuário do sistema de vendas,
  gostaria de poder visualizar o histórico de compras para acompanhar minhas transações anteriores e tomar decisões
  informadas sobre futuras compras."
</p>

<p class="txt-conteudo">
  Uma das características mais importantes das User Stories é sua flexibilidade. Elas são projetadas para serem pequenas
  o suficiente para serem concluídas dentro de uma única iteração do Scrum, geralmente um sprint. Isso permite que a
  equipe de desenvolvimento se concentre em entregar valor de forma incremental e iterativa, priorizando as
  funcionalidades mais importantes e de alto valor para o usuário.


</p>

<p class="txt-conteudo">
  Além disso, as User Stories são adaptáveis e podem evoluir ao longo do tempo à medida que a compreensão do produto
  melhora e novos requisitos são identificados. Elas são refinadas e priorizadas continuamente durante o backlog
  grooming e o sprint planning, garantindo que o produto permaneça alinhado com as necessidades e expectativas do
  usuário. Em resumo, as User Stories são uma ferramenta poderosa para capturar e comunicar os requisitos do usuário de
  forma colaborativa, flexível e orientada a resultados na metodologia ágil Scrum.
</p>

<h2 id="titulo-3">Reuniões com o cliente</h2>

<p class="txt-conteudo">
  A reunião com o cliente, no contexto das User Stories na metodologia ágil Scrum, deve ser uma oportunidade
  colaborativa para capturar e validar os requisitos do usuário de forma eficaz. Aqui estão algumas etapas importantes a
  serem seguidas durante essa reunião:
</p>

<ul class="txt-conteudo">
  <li>
    <strong>Preoaração:</strong> Antes da reunião, a equipe de desenvolvimento e o Product Owner devem se preparar
    revisando as User Stories existentes, identificando lacunas ou áreas de incerteza e elaborando uma agenda clara para
    a discussão.
  </li>
  <br>
  <li>
    <strong>Apresentação das User Stories:</strong>
    Durante a reunião, o Product Owner apresenta as User Stories planejadas para a próxima iteração ou sprint. Cada
    história é discutida em detalhes, incluindo sua descrição, critérios de aceitação e o valor que ela agrega ao
    usuário e ao produto.
  </li>
  <br>
  <li>
    <strong>Discussão e Esclarecimentos:</strong> O cliente tem a oportunidade de fazer perguntas, fornecer feedback e
    esclarecer quaisquer dúvidas em relação às User Stories apresentadas. É importante que a equipe esteja aberta ao
    feedback do cliente e pronta para fazer ajustes conforme necessário.
  </li>
  <br>
  <li>
    <strong>Priorização:</strong> Com base no feedback do cliente e nas necessidades de negócios, as User Stories são
    priorizadas em conjunto. O cliente pode ajudar a determinar a ordem de prioridade das histórias com base no valor
    percebido e nas restrições de tempo e orçamento.
  </li>
  <br>
  <li>
    <strong>Validação:</strong>Uma vez acordadas as User Stories e sua priorização, o cliente valida formalmente as
    histórias, confirmando que elas capturam com precisão seus requisitos e expectativas. Isso ajuda a garantir que a
    equipe esteja construindo o produto certo e que está alinhado com as necessidades do cliente.
  </li>
  <br>
  <li>
    <strong>Compromisso Mútuo:</strong>Ao final da reunião, tanto a equipe de desenvolvimento quanto o cliente devem
    sair com um entendimento claro das próximas etapas e comprometidos com o sucesso do projeto. Qualquer ambiguidade ou
    preocupação deve ser abordada de forma proativa para evitar mal-entendidos ou atrasos no desenvolvimento.
  </li>
  <br>
  <li>
    <strong>Acompanhamento:</strong> Após a reunião, é importante manter linhas abertas de comunicação com o cliente,
    fornecendo atualizações regulares sobre o progresso do projeto e buscando feedback contínuo ao longo do ciclo de
    desenvolvimento.
  </li>
</ul>
<p class="txt-conteudo">
  Essa abordagem colaborativa e orientada para o cliente durante as reuniões é essencial para garantir que as User
  Stories sejam compreendidas corretamente, priorizadas adequadamente e entregues de acordo com as expectativas do
  cliente, promovendo assim o sucesso do projeto.
</p>

<h2 id="titulo-4">Visão</h2>

<p class="txt-conteudo">

  A visão do produto é uma diretriz essencial no desenvolvimento ágil, fornecendo uma imagem clara e inspiradora do que
  o produto busca alcançar. Começando pela compreensão das necessidades do cliente, essa visão é moldada pelos objetivos
  específicos do produto, que devem ser claros, mensuráveis e alinhados com a estratégia da empresa. A criação de uma
  declaração de visão concisa e inspiradora é fundamental, descrevendo o propósito do produto, seu público-alvo, os
  benefícios que oferece e como se diferencia da concorrência.
</p>
<p class="txt-conteudo">
  Este mindset focado na visão do produto também demanda uma mentalidade adaptativa, aberta à mudança e ao ajuste
  conforme novas informações e feedback são recebidos, garantindo que o produto permaneça relevante e alinhado com as
  necessidades do mercado. Durante a reunião com o cliente, é crucial explorar suas expectativas, entender seus desafios
  e capturar suas ideias e requisitos de forma clara e detalhada. Isso permite que a equipe tenha uma compreensão
  abrangente do que é necessário para atender às necessidades do cliente e criar um produto que agregue valor real.
</p>

<p class="txt-conteudo">
  Além disso, a visão do produto deve ser constantemente comunicada e reforçada durante todo o ciclo de desenvolvimento,
  garantindo que todos os membros da equipe estejam alinhados e focados nos mesmos objetivos. Isso cria um ambiente
  colaborativo e coeso, onde todos trabalham em conjunto para alcançar a visão compartilhada do produto, impulsionando o
  sucesso do projeto.
</p>

{% endblock text %}


<!-- Seção Em Resumo -->
{% block em_resumo %}
<img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="img-em-resumo">
<p>
<ul>
  <li>O Product Backlog é uma lista dinâmica de requisitos e funcionalidades, essencial para guiar o desenvolvimento
    do produto.</li>
  <li>O Product Owner é responsável por gerenciar o backlog, alinhando-o aos objetivos do produto.</li>
  <li>As reuniões com o cliente ajudam a capturar requisitos e obter feedback para refinamento contínuo.</li>
  <li>A definição da visão do produto e o uso de User Stories garantem uma direção clara para a equipe.</li>
  <li>As iterações ágeis e a adaptação constante são fundamentais para o sucesso do Scrum.</li>
  <li>User Stories são descrições concisas e centradas no usuário das funcionalidades que um produto deve fornecer,
    expressando requisitos de maneira compreensível e não técnica.</li>
  <li>Criação de User Stories envolve a colaboração entre membros da equipe e stakeholders para identificar as
    necessidades do usuário, definir critérios de aceitação e priorizar as funcionalidades mais importantes.</li>
  <li>Visão do Produto é uma declaração inspiradora que define o propósito do produto, seu público-alvo, os benefícios
    oferecidos e como ele se diferencia da concorrência.</li>
  <li>Levando em conta sempre a importância da comunicação, a visão do produto deve ser comunicada de forma clara e
    regularmente, garantindo que todos os membros da equipe estejam alinhados e focados nos mesmos objetivos.</li>
</ul>
</p>

{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}
<p class="txt-conteudo">
  Considere uma equipe de desenvolvimento que está trabalhando em um novo aplicativo de gestão de projetos. Eles estão
  enfrentando desafios para definir as funcionalidades prioritárias e garantir que o produto final atenda às
  expectativas dos clientes. Vamos ver como o Product Backlog e os conceitos do Scrum podem ser aplicados nesta
  situação:
</p>
<ul class="txt-conteudo">
  <li>
    <strong>Criação do Product Backlog:</strong> A equipe começa listando todas as possíveis funcionalidades e
    requisitos do aplicativo, desde a criação de tarefas até a geração de relatórios. Essas são inseridas no Product
    Backlog em ordem de prioridade, com base no valor que cada uma traz para os usuários e para o sucesso do produto.
  </li>
  <li>
    <strong>Reuniões com o Cliente:</strong> Durante as reuniões com os clientes e stakeholders, o Product Owner lidera
    discussões para entender suas necessidades e expectativas. Com base nesse feedback, a equipe ajusta e prioriza o
    Product Backlog, garantindo que as funcionalidades mais importantes sejam implementadas primeiro.
  </li>
  <li>
    <strong>Definição da Visão do Produto:</strong> Com base nas conversas com os clientes e em sua própria análise de
    mercado, o Product Owner define uma visão clara e concisa para o aplicativo. Isso ajuda a equipe a manter o foco nos
    objetivos do produto e a orientar suas decisões de desenvolvimento.
  </li>
  <li>
    <strong>User Stories e Refinamento do Backlog:</strong> As User Stories são criadas para descrever as
    funcionalidades de maneira detalhada e compreensível. Elas são adicionadas ao Product Backlog e refinadas
    continuamente à medida que a equipe recebe feedback e novas informações dos clientes.
  </li>
  <li>
    <strong>Iterações e Adaptação:</strong> Durante cada sprint, a equipe seleciona um conjunto de itens do Product
    Backlog para trabalhar. Eles trabalham de forma colaborativa para implementar as funcionalidades selecionadas e
    revisam seu progresso regularmente em reuniões diárias. Com base nesse feedback contínuo, eles podem adaptar e
    ajustar o Product Backlog para refletir melhor as necessidades do cliente e as mudanças no mercado.
  </li>
</ul>
<p class="txt-conteudo">
  Ao seguir essas práticas do Scrum e utilizar o Product Backlog como guia, a equipe é capaz de desenvolver um
  aplicativo que não apenas atende às expectativas dos clientes, mas também oferece valor consistente e duradouro ao
  longo do tempo.
</p>
{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<!-- QUESTÃO -->
<div class="container" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">1</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">Qual é a responsabilidade do Product Owner em relação ao Product Backlog?</p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question mt-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q1" id="q1a" value="a">
          <label for="q1a">a) Criar User Stories</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1b" value="b">
          <label for="q1b">b) Gerenciar e manter o Product Backlog</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1c" value="c">
          <label for="q1c">c) Conduzir reuniões diárias com a equipe</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1d" value="d">
          <label for="q1d">d) Desenvolver a visão do produto</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1e" value="e">
          <label for="q1e">e) Definir os prazos de entrega do projeto</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- QUESTÃO -->
<div class="container mt-5" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">2</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">
          Qual é a importância das reuniões com o cliente para o desenvolvimento do Product Backlog?
        </p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question my-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q2" id="q2a" value="a">
          <label for="q2a">a) Definir a visão do produto</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2b" value="b">
          <label for="q2b">b) Refinar as User Stories</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2c" value="c">
          <label for="q2c">c) Capturar requisitos e obter feedback</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2d" value="d">
          <label for="q2d">d) Priorizar as funcionalidades do aplicativomas </label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2e" value="e">
          <label for="q2e">e) Realizar testes de aceitação com o cliente</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<button type="button" class="submit-btn" onclick="validateForm()">Enviar quiz</button>

<div id="resultPopup" class="popup" style="display: none;">
  <div id="popupContent">
  </div>
</div>

<div id="overlay" class="opaque" style="display: none;" onclick="closePopup()"></div>


{% endblock quiz %}

{% block referencias %}
<p>
  <a href="https://scrumguides.org/docs/scrumguide/v2020/2020-Scrum-Guide-US.pdf " target="_blank"
    rel="noopener noreferrer">
    SCHWABER, Ken; SUTHERLAND, Jeff. The Scrum Guide - The Definitive Guide to Scrum: The Rules of the Game. Scrum
    Guide, 2020. Disponível em: https://scrumguides.org/docs/scrumguide/v2020/2020-Scrum-Guide-US.pdf. Acesso em: 02
    maio 2024.
  </a>
</p>
{% endblock %}


{%block nextpage%}
<a href="/papeis-e-pilares">
  <button class="botao-nextpage botao-previouspage">
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M24.25 37L42.75 18.5L41.25 17L22.75 37L41.25 57.5L42.75 56L24.25 37Z" fill="white"></path>
    </svg>
    <span>Conteúdo Anterior</span>
  </button>
</a>

<a href="/artefatos-e-eventos-2">
  <button class="botao-nextpage">
    <span>Proximo Conteúdo</span>
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M49.5 37L31 55.5L32.5 57L51 37L32.5 17.5L31 19L49.5 37Z" fill="white"></path>
    </svg>
  </button>
</a>
{%endblock%}

<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#list-item-1">
  Product Backlog
</a>
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-2">
  User Stories
</a>
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-3">
  Reuniões com o cliente
</a>
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-4">
  Visão
</a>
{% endblock %}

{%block quizjs%}
<script>
  async function validateForm() {
    const correctAnswers = {
      q1: 'b',
      q2: 'c'
    };

    const userAnswers = {};
    let totalCorrect = 0;

    for (const question in correctAnswers) {
      const selectedOption = document.querySelector(`input[name=${ question }]:checked`);
      const isCorrect = selectedOption ? selectedOption.value === correctAnswers[ question ] : false;
      if (isCorrect) {
        totalCorrect++;
      }
      userAnswers[ question ] = selectedOption.value;
    }

    const popup = document.getElementById("resultPopup");
    const overlay = document.getElementById("overlay");
    const popupContent = document.getElementById("popupContent");
    popupContent.innerHTML = `
            <div class="card-cadastro1">
                <span class="titulo-cadastro">Parabéns!</span>
                <p class="mensagem-cadastro" style="margin-bottom: 20px">Você acertou um total de ${ totalCorrect } de 2 questões.</p>
                <div class="cadastro" style="display: flex;">
                    <a href="/artefatos-e-eventos-2">
                        <button class="botao-enviar-email"> Próximo: Sprint Planning Meeting</button>
                    </a>
                </div>
            </div>`;
    popup.style.display = "block";
    overlay.style.display = "block";


    // Enviar totalCorrect para o servidor Flask
    try {
      const response = await fetch('/submit-score', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ totalCorrect: totalCorrect, userAnswers: userAnswers })
      });

      const result = await response.json();
      console.log(result);
    } catch (error) {
      console.error('Erro ao enviar dados:', error);
    }
  }
  function closePopup() {
    const popup = document.getElementById("resultPopup");
    const overlay = document.getElementById("overlay");
    popup.style.display = "none";
    overlay.style.display = "none";
  }
</script>
{%endblock%}