{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %} Introdução {% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %}
Introdução ao Scrum
{% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2>Introdução</h2>
<p class="txt-conteudo">
  O Método Scrum é uma metodologia de gerenciamento de projetos amplamente difundida no cenário do desenvolvimento ágil
  de software. Com sua ênfase na colaboração, auto-organização e entrega contínua de valor ao cliente, o Scrum tornou-se
  uma abordagem altamente valorizada em diversos setores, indo além da indústria de software e alcançando campos tão
  diversos quanto marketing e pesquisa científica. Sua flexibilidade e adaptabilidade o tornam uma escolha popular para
  equipes que buscam maximizar a eficiência e a eficácia em seus processos de trabalho.</p>

<h2>História do Scrum</h2>
<p class="txt-conteudo">
  O Scrum foi formalizado pela primeira vez por Jeff Sutherland e Ken Schwaber no início dos anos 1990. Ambos foram
  inspirados por métodos de fabricação lean e teorias de gestão ágil. Eles introduziram o Scrum como uma maneira de
  lidar com projetos complexos e em constante mudança.</p>
<p class="txt-conteudo">
  Desde então, o Scrum tem crescido em popularidade, especialmente na indústria de software. Em 2001, o Manifesto Ágil
  foi lançado, destacando valores como indivíduos e interações mais que processos e ferramentas, e o Scrum se alinhou
  bem com esses princípios.
</p>
<p class="txt-conteudo">
  O Scrum continuou a evoluir com o tempo, com a criação de certificações, comunidades de prática e ferramentas
  especializadas. Atualmente, é uma das estruturas de gerenciamento de projetos mais amplamente adotadas em todo o
  mundo, sendo aplicada não apenas em software, mas em uma variedade de contextos empresariais.
</p>
<p class="txt-conteudo">
  O Método Scrum oferece uma abordagem flexível e eficaz para gerenciar projetos complexos. Sua ênfase na colaboração,
  transparência e adaptação contínua tornou-o uma escolha popular para equipes que buscam entregar valor de maneira
  rápida e eficiente. Com uma base sólida em princípios ágeis e uma história de sucesso comprovada, o Scrum continua a
  moldar a maneira como as equipes abordam o trabalho em todo o mundo.
</p>
{% endblock text %}




<!-- Seção Em Resumo -->
{% block em_resumo %}
<div class="col-12 col-lg-3 ">
  <img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="rounded img-card-sobre-nos">
</div>
<div class="col">
  <ul>
    <li>Criado por Jeff Sutherland e Ken Schwaber.</li>
    <li>Surgiu nos anos 1990 e alinhado ao Manifesto Ágil.</li>
    <li>Amplamente adotado em diferentes contextos empresariais.</li>
    <li>Colaboração, transparência e adaptação contínua.</li>
    <li>Base em princípios ágeis e sucesso na entrega de projetos complexos.</li>
  </ul>
</div>
{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}
<p class="txt-conteudo"> O Método Scrum pode ser aplicado na prática em uma variedade de contextos empresariais para
  gerenciar projetos de forma
  mais eficiente e eficaz. Por exemplo, em uma equipe de desenvolvimento de software, o Scrum pode ser utilizado para
  organizar e priorizar as tarefas, garantindo que as funcionalidades mais importantes sejam entregues ao cliente em
  intervalos regulares de tempo, conhecidos como "sprints".</p>
<p class="txt-conteudo">Durante cada sprint, a equipe trabalha de forma colaborativa
  para desenvolver e testar as funcionalidades, mantendo uma comunicação transparente e adaptando-se às mudanças
  conforme
  necessário.</p>
<p class="txt-conteudo"> Além disso, fora da indústria de software, o Scrum pode ser aplicado em projetos de marketing,
  onde as
  equipes trabalham em campanhas específicas, definindo metas claras e ajustando suas estratégias com base no feedback
  do
  cliente.</p>
  <p class="txt-conteudo">
    O Método Scrum é baseado em princípios simples, mas poderosos. Ele organiza o trabalho em unidades de tempo chamadas
    "sprints", que geralmente duram de uma a quatro semanas. Durante cada sprint, uma equipe multifuncional trabalha para
    concluir um conjunto de tarefas prioritárias definidas no início do sprint.
  </p>
<p class="txt-conteudo">Em resumo, o Scrum oferece uma abordagem flexível e adaptável para gerenciar projetos complexos
  em diversos
  setores, promovendo colaboração, transparência e entrega contínua de valor ao cliente.</p>
{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<p class="card-text">
  Questão 1 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, placeat?
</p>
<div class="btns-quiz">
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
</div>
<p class="card-text">
  Questão 2 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, placeat?
</p>
<div class="btns-quiz">
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
  <button type="button" class="btn btn-secondary">Lorem.</button>
</div>
{% endblock quiz %}


<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-2">
  Título 2
</a>
{% endblock %}
