{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %} Introdução {% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %}
Introdução ao Scrum
{% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2 id="titulo1">Introdução</h2>
<div class="div-textoimagem">
  <p class="txt-conteudo">
    <img src="{{url_for('static', filename='images/introducao.png')}}" alt="introducao-img"
      class="imagem-com-texto-paragrafo">
    O Método Scrum é uma metodologia de gerenciamento de projetos amplamente difundida no cenário do desenvolvimento
    ágil
    de software. Com sua ênfase na colaboração, auto-organização e entrega contínua de valor ao cliente, o Scrum
    tornou-se
    uma abordagem altamente valorizada em diversos setores, indo além da indústria de software e alcançando campos tão
    diversos quanto marketing e pesquisa científica. Sua flexibilidade e adaptabilidade o tornam uma escolha popular
    para
    equipes que buscam maximizar a eficiência e a eficácia em seus processos de trabalho.
  </p>
</div>
<h2 id="titulo-2">História do Scrum</h2>
<p class="txt-conteudo">
  O Scrum foi formalizado pela primeira vez por Jeff Sutherland e Ken Schwaber no início dos anos 1990. Ambos foram
  inspirados por métodos de fabricação lean e teorias de gestão ágil. Eles introduziram o Scrum como uma maneira de
  lidar com projetos complexos e em constante mudança.</p>
<p class="txt-conteudo">
  Desde então, o Scrum tem crescido em popularidade, especialmente na indústria de software. Em 2001, o Manifesto Ágil
  foi lançado, destacando valores como indivíduos e interações mais que processos e ferramentas, e o Scrum se alinhou
  bem com esses princípios.
</p>
<p class="txt-conteudo">
  O Scrum continuou a evoluir com o tempo, com a criação de certificações, comunidades de prática e ferramentas
  especializadas. Atualmente, é uma das estruturas de gerenciamento de projetos mais amplamente adotadas em todo o
  mundo, sendo aplicada não apenas em software, mas em uma variedade de contextos empresariais.
</p>
<p class="txt-conteudo">
  O Método Scrum oferece uma abordagem flexível e eficaz para gerenciar projetos complexos. Sua ênfase na colaboração,
  transparência e adaptação contínua tornou-o uma escolha popular para equipes que buscam entregar valor de maneira
  rápida e eficiente. Com uma base sólida em princípios ágeis e uma história de sucesso comprovada, o Scrum continua a
  moldar a maneira como as equipes abordam o trabalho em todo o mundo.
</p>
{% endblock text %}




<!-- Seção Em Resumo -->
{% block em_resumo %}
<img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="img-em-resumo">
<ul class="em-resumo-introdução">
  <li>Criado por Jeff Sutherland e Ken Schwaber.</li>
  <li>Surgiu nos anos 1990 e alinhado ao Manifesto Ágil.</li>
  <li>Amplamente adotado em diferentes contextos empresariais.</li>
  <li>Colaboração, transparência e adaptação contínua.</li>
  <li>Base em princípios ágeis e sucesso na entrega de projetos complexos.</li>
</ul>
{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}
<p class="txt-conteudo"> O Método Scrum pode ser aplicado na prática em uma variedade de contextos empresariais para
  gerenciar projetos de forma
  mais eficiente e eficaz. Por exemplo, em uma equipe de desenvolvimento de software, o Scrum pode ser utilizado para
  organizar e priorizar as tarefas, garantindo que as funcionalidades mais importantes sejam entregues ao cliente em
  intervalos regulares de tempo, conhecidos como "sprints".</p>
<p class="txt-conteudo">Durante cada sprint, a equipe trabalha de forma colaborativa
  para desenvolver e testar as funcionalidades, mantendo uma comunicação transparente e adaptando-se às mudanças
  conforme
  necessário.</p>
<p class="txt-conteudo"> Além disso, fora da indústria de software, o Scrum pode ser aplicado em projetos de marketing,
  onde as
  equipes trabalham em campanhas específicas, definindo metas claras e ajustando suas estratégias com base no feedback
  do
  cliente.</p>
<p class="txt-conteudo">
  O Método Scrum é baseado em princípios simples, mas poderosos. Ele organiza o trabalho em unidades de tempo chamadas
  "sprints", que geralmente duram de uma a quatro semanas. Durante cada sprint, uma equipe multifuncional trabalha para
  concluir um conjunto de tarefas prioritárias definidas no início do sprint.
</p>
<p class="txt-conteudo">Em resumo, o Scrum oferece uma abordagem flexível e adaptável para gerenciar projetos complexos
  em diversos
  setores, promovendo colaboração, transparência e entrega contínua de valor ao cliente.</p>
{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<!-- QUESTÃO -->

<div class="container" onclick="toggleText(this)">
  <div class="card-content">
    <div id="quiz">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">1</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">Quem é frequentemente creditado como o criador do método Scrum?
        </p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question mt-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q1" id="q1a" value="a">
          <label for="q1a">a) Jeff Bezos e Mark Zuckerberg.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1b" value="b">
          <label for="q1b">b) Jeff Sutherland e Ken Schwaber.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1c" value="c">
          <label for="q1c">c) Steve Jobs e Laurene Powell Jobs.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1d" value="d">
          <label for="q1d">d) Bill Gates e Paul Allen.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1e" value="e">
          <label for="q1e">e) Larry Page e Sergey Brin.</label>
        </li>
      </ol>
    </div>
  </div>
</div>
</div>


<!-- QUESTÃO -->
<div class="container mt-5" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">2</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">
          Quando o método Scrum foi formalmente apresentado ao público pela primeira vez?
        </p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question my-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q2" id="q2a" value="a">
          <label for="q2a">a) No final do século XIX.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2b" value="b">
          <label for="q2b">b) Na década de 1970.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2c" value="c">
          <label for="q2c">c) No início do século XXI.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2d" value="d">
          <label for="q2d">d) Na década de 1990.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2e" value="e">
          <label for="q2e">e) No século XVIII.</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<button type="button" class="submit-btn" onclick="validateForm()">Enviar exame</button>

<div id="resultPopup" class="popup" style="display: none;">
  <div id="popupContent">
  
  </div>
</div>

<div id="overlay" class="opaque" style="display: none;" onclick="closePopup()"></div>

{% endblock quiz %}


{% block referencias %}
<p>
  <a href=" https://www.wrike.com/project-management-guide/faq/what-is-scrum-in-project-management/ " target="_blank" rel="noopener noreferrer">
    SILVA, João; PEREIRA, Maria. What Is Scrum in Project Management?. Wrike, Massachusetts, 21 set. 2021. Disponível em: https://www.wrike.com/project-management-guide/faq/what-is-scrum-in-project-management/. Acesso em: 29 abr. 2024.
  </a>
</p>
{% endblock %}


{%block nextpage%}
<a href="/papeis-e-pilares">
  <button class="botao-nextpage">
    <span>Próximo Conteúdo</span>
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M49.5 37L31 55.5L32.5 57L51 37L32.5 17.5L31 19L49.5 37Z" fill="white"></path>
    </svg>
  </button>
</a>
{%endblock%}


<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo1">
  Introdução
</a>
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-2">
  História do Scrum
</a>
{% endblock %}

{%block quizjs%}
<script>
  async function validateForm() {
    const correctAnswers = {
      q1: 'b',
      q2: 'd'
    };

    const userAnswers = {};
    let totalCorrect = 0;

    for (const question in correctAnswers) {
      const selectedOption = document.querySelector(`input[name=${question}]:checked`);
      const isCorrect = selectedOption ? selectedOption.value === correctAnswers[question] : false;
      if (isCorrect) {
        totalCorrect++;
      }
      userAnswers[ question ] = selectedOption.value;
    }

    const popup = document.getElementById("resultPopup");
    const overlay = document.getElementById("overlay");
    const popupContent = document.getElementById("popupContent");
    popupContent.innerHTML = `
            <div class="card-cadastro1">
                <span class="titulo-cadastro">Parabéns!</span>
                <p class="mensagem-cadastro" style="margin-bottom: 20px">Você acertou um total de ${totalCorrect} de 2 questões.</p>
                <div class="cadastro" style="display: flex;">
                    <a href="/papeis-e-pilares">
                        <button class="botao-enviar-email"> Ir para o Próximo conteúdo</button>
                    </a>
                </div>
            </div>`;
    popup.style.display = "block";
    overlay.style.display = "block";
    
    
    // Enviar totalCorrect para o servidor Flask
    try {
      const response = await fetch('/submit-score', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ totalCorrect: totalCorrect, userAnswers: userAnswers })
      });
      
      const result = await response.json();
      console.log(result);
    } catch (error) {
      console.error('Erro ao enviar dados:', error);
    }
  }
function closePopup() {
  const popup = document.getElementById("resultPopup");
  const overlay = document.getElementById("overlay");
  popup.style.display = "none";
  overlay.style.display = "none";
}
</script>

{%endblock%}

