{% extends "conteudo.html" %}


<!-- Titulo da pagina -->
{% block title %} Pilares e Responsabilidades {% endblock %}


<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="Cover Conteudo">
{% endblock %}


<!-- Texto da cover -->
{% block cover_text %}
Pilares e Papéis do Scrum
{% endblock %}


<!-- Conteúdo / texto -->
{% block text %}
<h2 id="titulo1">Pilares do Scrum</h2>
<p class="txt-conteudo">Nos alicerces do Scrum, repousam três pilares inabaláveis: Transparência, Inspeção e Adaptação.
  Esses pilares não apenas sustentam a estrutura do Scrum, mas também fornecem uma base sólida para equipes trabalharem
  de forma eficiente e eficaz. Vamos explorar cada um desses pilares e entender como eles formam a espinha dorsal de um
  processo ágil e dinâmico, capaz de se adaptar às mudanças e entregar resultados excepcionais.</p>
<p>
<ul class="conteudo-papeis-pilares-lista">
  <li> <strong>Transparência:</strong> No contexto do Scrum, a transparência é um dos pilares fundamentais que sustentam
    a metodologia ágil. Ela se refere à necessidade de que todos os aspectos relevantes do trabalho sejam visíveis e
    compreensíveis para todos os membros da equipe. Isso inclui o estado das tarefas, os objetivos do projeto, os
    critérios de aceitação das entregas, as métricas de desempenho e qualquer obstáculo que esteja impedindo o
    progresso. Para garantir a transparência, as equipes frequentemente utilizam artefatos como quadros Kanban ou
    softwares de gestão de projetos, nos quais o status do trabalho é atualizado regularmente e pode ser acessado por
    todos os membros da equipe. A transparência promove a confiança e a colaboração, pois permite que todos tenham uma
    compreensão clara do que está acontecendo e do que precisa ser feito para alcançar os objetivos do projeto.
  </li>
  <br>
  <li><strong>Inspeção:</strong> A inspeção é outro pilar vital do Scrum, enfatizando a importância de avaliar
    regularmente o progresso do trabalho e os resultados obtidos. Isso ocorre por meio de diversas cerimônias e
    práticas, como as reuniões diárias (Daily Scrum), as revisões de sprint (Sprint Reviews) e as retrospectivas (Sprint
    Retrospectives). Durante essas reuniões, a equipe revisa o trabalho concluído, verifica se está alinhado com as
    expectativas e identifica áreas de melhoria ou possíveis obstáculos que precisam ser abordados. A inspeção contínua
    ajuda a garantir que o trabalho realizado esteja de acordo com as necessidades do cliente e com os padrões de
    qualidade estabelecidos, permitindo que a equipe faça ajustes rápidos e eficazes, quando necessário.
  </li>
  <br>
  <li><strong>Adaptação:</strong> Por fim, a adaptação completa o tripé dos pilares do Scrum. A capacidade de adaptação
    é essencial em um ambiente dinâmico e complexo, onde os requisitos e as circunstâncias podem mudar rapidamente. Com
    base nas informações obtidas durante as inspeções regulares, a equipe pode ajustar suas estratégias, redefinir
    prioridades, realocar recursos e até mesmo revisar o escopo do projeto, se necessário. Essa flexibilidade permite
    que a equipe responda de forma ágil e eficaz às mudanças e incertezas, maximizando as chances de sucesso do projeto.
    A adaptação é incentivada e suportada pelo framework Scrum, que fornece estruturas e práticas que permitem que as
    equipes sejam ágeis e responsivas às necessidades do cliente e às mudanças no ambiente de negócios.
  </li>
</ul>
</p>
<br>

<h2 id="titulo-2">Papéis e Responsabilidades</h2>
<p class="txt-conteudo">O Método Scrum define três papéis principais que são fundamentais para o sucesso do processo: o
  Product Owner, o Scrum Master e a equipe de Desenvolvimento. Cada um desses papéis desempenha funções específicas e
  tem responsabilidades claras dentro do framework Scrum.
</p>
<div class="conteudo-papeis-pilares-lista">

  <ol>
    <li><strong>Product Owner</strong>
      <p>O Product Owner é responsável por maximizar o valor do produto e do trabalho da
        equipe. Suas principais responsabilidades incluem:</p>
      <ul>
        <li>Gerenciar o Product Backlog: O Product Owner é responsável por manter e priorizar o Product Backlog,
          garantindo que
          ele esteja sempre atualizado e refletindo as necessidades e prioridades do cliente e do negócio.</li>
        <br>
        <li>
          Definir Requisitos e Critérios de Aceitação: O Product Owner trabalha em estreita colaboração com os
          stakeholders para entender e capturar os requisitos do produto. Eles também definem critérios claros de
          aceitação para cada item do Product Backlog.
        </li>
        <br>
        <li>
          Tomar Decisões Prioritárias: O Product Owner é responsável por tomar decisões claras e informadas sobre quais
          funcionalidades e melhorias devem ser implementadas em cada sprint, com base nas necessidades do cliente e nos
          objetivos do negócio.
        </li>
      </ul>
    </li>
    <br>
    <li><strong>Scrum Master</strong>
      <p>O Scrum Master atua como um facilitador e servo-líder para a equipe Scrum. Suas principais responsabilidades
        incluem:</p>
      <ul>
        <li>Remover Obstáculos: O Scrum Master trabalha para identificar e remover quaisquer obstáculos que estejam
          impedindo a equipe de alcançar seus objetivos durante o sprint.</li>
        <br>
        <li>Facilitar as Cerimônias do Scrum: O Scrum Master é responsável por facilitar as cerimônias do Scrum, como o
          Sprint Planning, o Daily Scrum, o Sprint Review e a Sprint Retrospective, garantindo que elas ocorram de forma
          eficiente e eficaz.</li>
        <br>
        <li>Promover a Autonomia da Equipe: O Scrum Master ajuda a equipe a se auto-organizar e a assumir a
          responsabilidade pelo seu próprio trabalho, incentivando a colaboração e a comunicação eficaz.</li>
      </ul>
    </li>
    <br>
    <li><strong>Equipe de Desenvolvimento</strong>
      <p>A equipe de Desenvolvimento é composta por profissionais multifuncionais que trabalham juntos para entregar
        incrementos de produto utilizáveis a cada sprint. Suas principais responsabilidades incluem:</p>
      <ul>
        <li>Desenvolver Funcionalidades: A equipe de Desenvolvimento é responsável por transformar os itens do Product
          Backlog em incrementos de produto funcionais e de alta qualidade a cada sprint.</li>
        <br>
        <li>Colaborar e Comunicar: Os membros da equipe de Desenvolvimento devem colaborar de forma eficaz,
          compartilhando
          conhecimento, habilidades e responsabilidades para garantir o sucesso do sprint.</li>
        <br>
        <li>Manter a Qualidade: A equipe de Desenvolvimento é responsável por garantir que o produto entregue atenda aos
          padrões de qualidade estabelecidos, realizando testes adequados e garantindo a integridade do código.</li>
        <br>
      </ul>
    </li>
  </ol>
</div>
<p class="txt-conteudo">
  Os papéis no Método Scrum são claramente definidos e têm responsabilidades específicas que contribuem para o sucesso
  do processo. O Product Owner, o Scrum Master e a equipe de Desenvolvimento trabalham em conjunto para maximizar o
  valor do produto, remover obstáculos e entregar incrementos de produto funcionais e de alta qualidade a cada sprint.
  Ao desempenhar efetivamente seus papéis e colaborar de forma eficaz, as equipes Scrum podem alcançar níveis mais altos
  de produtividade, qualidade e satisfação do cliente.
</p>
<p class="txt-conteudo">
  No Scrum, a democracia é inerente ao seu funcionamento, pois valoriza a contribuição de todos os membros da equipe,
  independentemente do papel que desempenham. Tanto o Product Owner quanto o Scrum Master têm funções específicas, mas
  não detêm mais poder ou importância do que os membros da equipe de desenvolvimento.
</p>
<p class="txt-conteudo">
  Cada voz é valorizada igualmente durante as discussões e decisões, promovendo um ambiente onde todos têm liberdade
  para expressar suas opiniões, ideias e preocupações. Essa abordagem democrática garante que as melhores soluções sejam
  encontradas em conjunto, alinhadas com os objetivos do projeto e as necessidades do cliente, fortalecendo assim o
  trabalho colaborativo e a eficácia do Scrum como um todo.
</p>
{% endblock text %}


<!-- Seção Em Resumo -->
{% block em_resumo %}
<div class="col-12 col-lg-3 ">
  <img src="{{url_for('static', filename='images/kanban_cards.jpg')}}" alt="img 1" class="rounded img-card-sobre-nos">
</div>
<div class="col">
  <ul>
    <li>Papéis principais no Scrum: Product Owner, Scrum Master e equipe de Desenvolvimento.</li>
    <li>Responsabilidades do Product Owner: Gerenciar o Product Backlog, definir requisitos e tomar decisões
      prioritárias.</li>
    <li>Funções do Scrum Master: Remover obstáculos, facilitar cerimônias do Scrum e promover a autonomia da equipe.
    </li>
    <li>Transparência: Aspectos do trabalho visíveis e compreensíveis para a equipe.</li>
    <li>Inspeção regular: Realizada por meio de cerimônias como Daily Scrum, Sprint Reviews e Sprint Retrospectives.
    </li>
    <li>Importância da Inspeção: Garantir alinhamento com expectativas do cliente e padrões de qualidade.</li>
    <li>Adaptação contínua: Ajustar estratégias, prioridades e escopo conforme necessário.</li>
    <li>Flexibilidade do Scrum: Estruturas e práticas que incentivam a adaptação ágil.</li>
    <li>Maximização do sucesso do projeto: Seguir princípios como transparência, inspeção e adaptação para entregar
      valor consistentemente.</li>
  </ul>
</div>
{% endblock em_resumo %}


<!-- Seção Na Prática -->
{% block na_pratica %}
<p>Uma compreensão profunda dos papéis do Product Owner, Scrum Master e equipe de Desenvolvimento é essencial. O Product
  Owner é responsável por maximizar o valor do produto, gerenciando o Product Backlog, definindo requisitos e tomando
  decisões prioritárias. O Scrum Master atua como facilitador e líder de serviço, removendo obstáculos, facilitando
  cerimônias do Scrum e promovendo a autonomia da equipe. A equipe de Desenvolvimento é responsável por realizar o
  trabalho necessário para entregar um Product Increment de alta qualidade.</p>
<p>A aplicação dos princípios fundamentais do Scrum é crucial para o sucesso do processo. A transparência garante que
  todos os aspectos relevantes do trabalho sejam visíveis e compreensíveis para a equipe. A inspeção regular, por meio
  de cerimônias como Daily Scrum e Sprint Reviews, permite avaliar o progresso do trabalho e identificar áreas de
  melhoria. A adaptação contínua, baseada nas informações obtidas durante as inspeções, permite ajustar estratégias e
  prioridades conforme necessário.</p>
<p>Promover uma cultura de colaboração e comunicação aberta é fundamental para o sucesso do Scrum. A colaboração entre o
  Product Owner, Scrum Master e equipe de Desenvolvimento é essencial para garantir que as necessidades do cliente sejam
  compreendidas e atendidas. A comunicação eficaz, por meio de atualizações regulares do progresso do trabalho e
  resolução rápida de obstáculos, mantém todos os membros da equipe alinhados e focados nos objetivos do projeto.</p>
<p>Buscar constantemente pela melhoria contínua é uma prática central do Scrum. Durante as retrospectivas, a equipe
  reflete sobre o trabalho realizado, identifica pontos fortes e áreas de melhoria, e implementa ajustes para otimizar
  processos e entregas. Essa abordagem iterativa e incremental permite que a equipe aprenda e evolua ao longo do tempo,
  aumentando sua eficácia e eficiência.</p>
{% endblock na_pratica %}


<!-- Seção Quiz -->
{% block quiz %}
<!-- QUESTÃO 1-->
<div class="container" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">1</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">Qual das seguintes opções descreve corretamente o significado do termo "Scrum"?</p>
      </div>
    </div>
    <!-- RESPOSTAS -->
    <div class="question mt-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q1" id="q1a" value="a">
          <label for="q1a">a) Uma palavra derivada do latim que significa "avançar rapidamente".</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1b" value="b">
          <label for="q1b">b) Um termo de origem japonesa que se refere a uma técnica de gestão de tempo.</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1c" value="c">
          <label for="q1c">c) Uma abreviação de "Sistema de Controle de Recursos Unificados e Móveis".</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1d" value="d">
          <label for="q1d">d) Uma expressão inglesa que significa "trabalhar em equipe".</label>
        </li>
        <li class="option">
          <input type="radio" name="q1" id="q1e" value="e">
          <label for="q1e">e) Um acrônimo para "Sprint, Ciclo, Revisão, Atualização e Melhoria".</label>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- QUESTÃO 2 -->
<div class="container mt-5" onclick="toggleText(this)">
  <div class="card-content">
    <div class="enunciado-questoes">
      <div class="quiz-numeracao rounded-circle p-2 px-3 d-flex align-items-center">
        <h4 class="text-center m-0 p-0">2</h4>
      </div>
      <div class="enunciado-texto d-flex align-items-center">
        <p class="m-0 p-0">
          Qual das seguintes afirmações melhor descreve o Scrum?

        </p>
      </div>
    </div>
    <!-- RESPOSTAS 2-->
    <div class="question my-4">
      <ol class="options">
        <li class="option">
          <input type="radio" name="q2" id="q2a" value="a">
          <label for="q2a">a) Uma técnica de desenvolvimento de software baseada em cascata.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2b" value="b">
          <label for="q2b">b) Um método de gerenciamento de projetos ágil.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2c" value="c">
          <label for="q2c">c) Um framework para a construção de hardware.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2d" value="d">
          <label for="q2d">d) Uma linguagem de programação.</label>
        </li>
        <li class="option">
          <input type="radio" name="q2" id="q2e" value="e">
          <label for="q2e">e) Uma técnica de marketing digital.</label>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock quiz %}

{%block nextpage%}
<a href="/introducao">
  <button class="botao-nextpage botao-previouspage">
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M24.25 37L42.75 18.5L41.25 17L22.75 37L41.25 57.5L42.75 56L24.25 37Z" fill="white"></path>
    </svg>
    <span>Conteúdo Anterior</span>
  </button>
</a>

<a href="/artefatos-e-eventos-1">
  <button class="botao-nextpage">
    <span>Proximo Conteúdo</span>
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
      <path d="M49.5 37L31 55.5L32.5 57L51 37L32.5 17.5L31 19L49.5 37Z" fill="white"></path>
    </svg>
  </button>
</a>
{%endblock%}


<!-- Navegação interna  -->
<!-- O conteúdo preenchido acima, poderá ter elementos com ID definido e um "atalho" add para eles aqui. -->
<!-- Nesse exemplo, existe o elemento lá em cima com  id="titulo-2"  e abaixo em  href="#titulo-2" -->
{% block navegacao_interna %}
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo1">
  Pilares do Scrum
</a>
<a class="list-group-item list-group-item-action Items-Scrollspy-conteudo mb-4" href="#titulo-2">
  Papéis e Responsabilidades
</a>
{% endblock %}