<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Scrum Academy - {% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg shadow">
      <div class="container-fluid">
        <a class="navbar-brand">
          <a href="/">
            <img class="logo-navbar" src="{{ url_for('static', filename='images/logo-principal-white.png') }}"
              alt="Scrum Academy">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" aria-current="page" href="/">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/home_icon.png') }}" alt="Icon Home">
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-sm-left text-center" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="true">
                <img src="{{ url_for('static', filename='images/conteudo_icon.png') }}" alt="Icon Conteudo"
                  class="icon-navbar">
                Conteúdo
              </a>
              <div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" href="#">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/exam_icon.png') }}"
                  alt="Icon Exame">
                Exames
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" href="#">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/resultados_icon.png') }}"
                  alt="Icon Resultados">
                Resultados
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">

      <!-- COVER -->
      <div class="row cover">
        <div class="col-12 text-center">
          <div class="card text-center align-middle">
            {% block cover_img %}
            <img src="{{url_for('static', filename='images/scrum.png') }}" class="card-img" alt="Cover Home">
            {% endblock %}
            <div class="card-img-overlay align-middle titulo">
              <h1 class="">{% block cover_text %}{% endblock %}</h1>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="row content">
        <div class="col-12 p-0">
          {% block content required %}{% endblock %}
        </div>
      </div>
    </div>
  </main>

  <footer class="my-5 text-center">
    <p>&copy; Copyright 2024</p>
    <p>
      Feito por:

      <img src="{{ url_for('static', filename='images/bug-busters-logo-white.png') }}" alt="Bug Busters"
        class="rounded logo-bug-busters">
      <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
        href="https://github.com/Fatec-Bug-Busters/scrum-academy.git" target="_blank">
        <img class="logo-github" src="{{ url_for('static', filename='images/github_icon.png') }}" alt="GitHub_Icon">
        GitHub
      </a>
    </p>
  </footer>

  <script defer src="{{ url_for('static', filename='/js/bootstrap.bundle.js') }}"></script>
</body>

</html>