<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Scrum Academy - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg shadow">
      <div class="container-fluid">
        <a class="navbar-brand">
          <a href="/">
            <img class="logo-navbar" src="{{ url_for('static', filename='images/logo-principal-white.png') }}"
              alt="Scrum Academy">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" aria-current="page" href="/">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/home_icon.png') }}" alt="Icon Home">
                Home
              </a>
            </li>
            <li class="nav-item dropdown dropstart">
              <a class="nav-link text-sm-left text-center" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="true">
                <img src="{{ url_for('static', filename='images/conteudo_icon.png') }}" alt="Icon Conteudo"
                  class="icon-navbar">
                Conteúdo
              </a>
              <div class="dropdown-menu dropdown-conteudo" aria-labelledby="dropdownMenuButton">
                <div class="container">
                  <div class="row" id="linha-dropdown">
                    <div class="col-6">
                      <a class="dropdown-item dropdown-title" href="/introducao">INTRODUÇÃO</a>
                      <a class="dropdown-item" href="/introducao#titulo-1">- Introdução</a>
                      <a class="dropdown-item" href="/introducao#titulo-2">- História</a>
                      <a class="dropdown-item" href="/introducao#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/introducao#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/introducao#quiz">- Quiz</a>
                      <a class="dropdown-item dropdown-title" href="/papeis-e-pilares">PAPÉIS E
                        PILARES</a>
                      <a class="dropdown-item" href="/papeis-e-pilares#titulo-1">- Pilares do Scrum</a>
                      <a class="dropdown-item" href="/papeis-e-pilares#titulo-2">- Papéis e responsabilidades</a>
                      <a class="dropdown-item" href="/papeis-e-pilares#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/papeis-e-pilares#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/papeis-e-pilares#quiz">- Quiz</a>
                      <a class="dropdown-item dropdown-title" href="/artefatos-e-eventos-1">ARTEFATOS E
                        EVENTOS 1</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#titulo-1">- Product Backlog</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#titulo-2">- User Stories</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#titulo-3">- Reuniões com o cliente</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#titulo-4">- Visão</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-1#quiz">- Quiz</a>
                    </div>
                    <div class="col-6">
                      <a class="dropdown-item dropdown-title" href="/artefatos-e-eventos-2">ARTEFATOS E EVENTOS 2</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#titulo-1">- Sprint Planning Meeting</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#titulo-2">- Sprint Backlog</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#titulo-3">- Pacer</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-2#quiz">- Quiz</a>
                      <a class="dropdown-item dropdown-title" href="/artefatos-e-eventos-3">ARTEFATOS E EVENTOS 3</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-3#titulo-1">- Sprints</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-3#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-3#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/artefatos-e-eventos-3#quiz">- Quiz</a>
                      <a class="dropdown-item dropdown-title" href="/estimativas">ESTIMATIVAS DAS TAREFAS</a>
                      <a class="dropdown-item" href="/estimativas#titulo-1">- Estimativas</a>
                      <a class="dropdown-item" href="/estimativas#em-resumo">- Resumo</a>
                      <a class="dropdown-item" href="/estimativas#na-pratica">- Na Prática</a>
                      <a class="dropdown-item" href="/estimativas#quiz">- Quiz</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" href="/ferramentas">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/') }}" alt="Icon Ferramentas">
                Ferramentas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" href="/exame">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/exam_icon.png') }}"
                  alt="Icon Exame">
                Exames
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-sm-left text-center" href="/resultados">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/resultados_icon.png') }}"
                  alt="Icon Resultados">
                Resultados
              </a>
            </li>
            <li class="nav-item">
              {% if not name_now %}
              <a class="nav-link text-sm-left text-center" href="#" role="button" data-bs-toggle="modal"
                data-bs-target="#ModalLogin" aria-expanded="true">
                <img class="icon-navbar" src="{{ url_for('static', filename='images/User_Icon.png') }}"
                  alt="Icon Resultados">
                Login
                {% else %}
                <a class="nav-link text-sm-left text-center" href="#" role="button" data-bs-toggle="modal"
                  data-bs-target="#ModalLogout" aria-expanded="true" style="white-space: nowrap;">
                  <img class="icon-navbar" src="{{ url_for('static', filename='images/User_Icon.png') }}"
                    alt="Icon Resultados">
                  <span class="d-lg-inline d-none"><br>{{ name_now }}</span>
                  <span class="d-inline d-lg-none">{{ name_now }}</span>


                  {%endif%}
                </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <main>
    <!-- COVER -->
    <div class="covere">
      <div class="card text-center align-middle">
        {% block cover_img %}

        {% endblock %}
        <div class="card-img-overlay align-middle titulo">
          <h1 class="">{% block cover_text %}{% endblock %}</h1>
        </div>
      </div>
    </div>


    <div class="container-fluid container-lg">


      <!-- CONTENT -->
      <!-- {#
        Direction: Column on <= small screens. Row on>= medium screens
        Column 2 becomes first row on <= small screens (direction column)
        Block 'sidebar' is displayed only if defined on child template
      #} -->
      <div class="row content flex-column flex-md-row">
        <div class="col p-0">
          {% block content required %}{% endblock %}
        </div>

        {% if self.sidebar() %}
        <div class="col col-md-2 order-first order-md-last pt-4 ps-4">
          {% block sidebar %}{% endblock %}
        </div>
        {% endif %}

      </div>
    </div>
  </main>

  <footer class="my-5 text-center">

    <!-- Links Footer -->
    <div class="container fw-bold" style="max-width: 1320px; font-size: larger;">
      <div class="row gy-3 align-items-center">
        <!-- Home -->
        <div class="col">
          <a class="link-light link-offset-2 link-underline link-underline-opacity-0 bg-dark rounded-pill p-1 btn-link"
            href="/">Home</a>
        </div>
        <!-- Conteúdos -->
        <div class="col">
          <div class="btn-group">

            <button class="fw-bold bg-dark rounded-pill btn-link btn-conteudo-footer" data-bs-toggle="dropdown"
              aria-expanded="false">Conteúdo</button>
            <ul class="dropdown-menu" data-bs-theme="dark">
              <li>
                <a class="dropdown-item" href="/introducao" style="font-size: 120%;">
                  Introdução
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/papeis-e-pilares" style="font-size: 120%;">
                  Pilares do Scrum
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/artefatos-e-eventos-1" style="font-size: 120%;">
                  Artefatos e Eventos - parte 1
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/artefatos-e-eventos-2" style="font-size: 120%;">
                  Artefatos e Eventos - parte 2
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/artefatos-e-eventos-3" style="font-size: 120%;">Artefatos e Eventos -
                  parte 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="/estimativas" style="font-size: 120%;">Estimativa</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Ferramentas -->
        <div class="col">
          <a class="link-light link-offset-2 link-underline link-underline-opacity-0 bg-dark rounded-pill p-1 btn-link"
            href="/ferramentas">Ferramentas</a>
        </div>
        <!-- Exames -->
        <div class="col">
          <a class="link-light link-offset-2 link-underline link-underline-opacity-0 bg-dark rounded-pill p-1 btn-link"
            href="/exame">Exames</a>
        </div>
        <!-- Resultados -->
        <div class="col ">
          <a class="link-light link-offset-2 link-underline link-underline-opacity-0 bg-dark rounded-pill p-1 btn-link"
            href="/resultados">Resultados</a>
        </div>
        <!-- Sobre Nós -->
        <div class="col">
          <a class="link-light link-offset-2 link-underline link-underline-opacity-0 bg-dark rounded-pill p-1 btn-link"
            href="/sobre_nos">Sobre Nós</a>
        </div>
      </div>

    </div>
    </div>

    </div>
    <br><br>

    <p>&copy; Copyright 2024</p>
    <p>
      Feito por:

      <img src="{{ url_for('static', filename='images/bug-busters-logo-white.png') }}" alt="Bug Busters"
        class="rounded logo-bug-busters">
      <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
        href="https://github.com/Fatec-Bug-Busters/scrum-academy.git" target="_blank">
        <img class="logo-github" src="{{ url_for('static', filename='images/github_icon.png') }}" alt="GitHub_Icon">
        GitHub
      </a>
    </p>
  </footer>
  <!-- Modal Login -->
  <div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Salve seu progresso!</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <p class="mensagem-cadastro">Insira seu e-mail para que possamos salvar seu progresso e gravar sua
            nota
            final.
          </p>
          <form class="cadastro" id="loginForm">
            <input placeholder="E-mail" type="email" id="email" name="email" required>
            <button class="botao-enviar-email" type="submit"> Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal New User-->
  <div class="modal fade" id="ModalNewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Cadastre-se!</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <p class="mensagem-cadastro" id="meuParagrafo">Parece que ainda não está em nosso sistema insira seu nome
            completo.
          </p>
          <form class="cadastro" id="NewUserForm">
            <input placeholder="Nome completo" type="text" id="NameUser">
            <input placeholder="E-mail" type="hidden">
            <button class="botao-enviar-email"> Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Login Sucess-->
  <div class="modal fade" id="ModalLoginSucess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Logado com Sucesso!</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal Error-->
  <div class="modal fade" id="ModalError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Erro no servidor tente novamente!</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal Incomplete Name-->
  <div class="modal fade" id="ModalIncompleteName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Nome Incompleto</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal Logout-->
  <div class="modal fade" id="ModalLogout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-pill">
        <div class="card-cadastro1">
          <div class="header-modal">
            <span class="titulo-cadastro">Você tem certeza que deseja sair?</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <button type="button" class="btn btn-danger" id="btn_logout">Sair</button>

        </div>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  {%block quizjs%}{%endblock%}

</body>

</html>