{% extends "base.html" %}

{% block title %}Exame{% endblock %}

{% block content %}

{% block cover_img %}
{% endblock %}
<section class="section-exame">
  <div class="title">
    <h2>Página 3</h2>
  </div>
  <div class="conteudo-exame">
    <hr>
    <form action="">
      <p>11 - Enunciado</p>
      <input type="radio" id="q11-alt1" name="q11" value="">
      <label for="q11-alt1">Alternativa A</label><br>
      <input type="radio" id="q11-alt2" name="q11" value="">
      <label for="q11-alt2">Alternativa B</label><br>
      <input type="radio" id="q11-alt3" name="q11" value="">
      <label for="q11-alt3">Alternativa C</label><br>
      <input type="radio" id="q11-alt4" name="q11" value="">
      <label for="q11-alt4">Alternativa D</label><br>
      <input type="radio" id="q11-alt5" name="q11" value="">
      <label for="q11-alt5">Alternativa E</label><br><br>
      <p>12 - Enunciado</p>
      <input type="radio" id="q12-alt1" name="q12" value="">
      <label for="q12-alt1">Alternativa A</label><br>
      <input type="radio" id="q12-alt2" name="q12" value="">
      <label for="q12-alt2">Alternativa B</label><br>
      <input type="radio" id="q12-alt3" name="q12" value="">
      <label for="q12-alt3">Alternativa C</label><br>
      <input type="radio" id="q12-alt4" name="q12" value="">
      <label for="q12-alt4">Alternativa D</label><br>
      <input type="radio" id="q12-alt5" name="q12" value="">
      <label for="q12-alt5">Alternativa E</label><br><br>
      <p>13 - Enunciado</p>
      <input type="radio" id="q13-alt1" name="q13" value="">
      <label for="q13-alt1">Alternativa A</label><br>
      <input type="radio" id="q13-alt2" name="q13" value="">
      <label for="q13-alt2">Alternativa B</label><br>
      <input type="radio" id="q13-alt3" name="q13" value="">
      <label for="q13-alt3">Alternativa C</label><br>
      <input type="radio" id="q13-alt4" name="q13" value="">
      <label for="q13-alt4">Alternativa D</label><br>
      <input type="radio" id="q13-alt5" name="q13" value="">
      <label for="q13-alt5">Alternativa E</label><br><br>
      <p>14 - Enunciado</p>
      <input type="radio" id="q14-alt1" name="q14" value="">
      <label for="q14-alt1">Alternativa A</label><br>
      <input type="radio" id="q14-alt2" name="q14" value="">
      <label for="q14-alt2">Alternativa B</label><br>
      <input type="radio" id="q14-alt3" name="q14" value="">
      <label for="q14-alt3">Alternativa C</label><br>
      <input type="radio" id="q14-alt4" name="q14" value="">
      <label for="q14-alt4">Alternativa D</label><br>
      <input type="radio" id="q14-alt5" name="q14" value="">
      <label for="q14-alt5">Alternativa E</label><br><br>
      <p>15 - Enunciado</p>
      <input type="radio" id="q15-alt1" name="q15" value="">
      <label for="q15-alt1">Alternativa A</label><br>
      <input type="radio" id="q15-alt2" name="q15" value="">
      <label for="q15-alt2">Alternativa B</label><br>
      <input type="radio" id="q15-alt3" name="q15" value="">
      <label for="q15-alt3">Alternativa C</label><br>
      <input type="radio" id="q15-alt4" name="q15" value="">
      <label for="q15-alt4">Alternativa D</label><br>
      <input type="radio" id="q15-alt5" name="q15" value="">
      <label for="q15-alt5">Alternativa E</label><br><br> 
      <input class="btn btn-primary btn-success" type="submit" value="Enviar">
    </form><hr>
    <div class="btn-group btns-exame">
      <a href="/exame_pg1" class="btn btn-primary">1</a>
      <a href="/exame_pg2" class="btn btn-primary">2</a>
      <a href="/exame_pg3" class="btn btn-primary">3</a>
    </div>
  </div>
</section>
{% endblock %}