{% extends "base.html" %}

{% block title %}Exame{% endblock %}

{% block content %}

{% block cover_img %}
{% endblock %}
<section class="section-exame">
  <div class="title">
    <h2>Página 2</h2>
  </div>
  <div class="conteudo-exame">
    <hr>
    <form action="">
      <p>6 - Enunciado</p>
      <input type="radio" id="q6-alt1" name="q6" value="">
      <label for="q6-alt1">Alternativa A</label><br>
      <input type="radio" id="q6-alt2" name="q6" value="">
      <label for="q6-alt2">Alternativa B</label><br>
      <input type="radio" id="q6-alt3" name="q6" value="">
      <label for="q6-alt3">Alternativa C</label><br>
      <input type="radio" id="q6-alt4" name="q6" value="">
      <label for="q6-alt4">Alternativa D</label><br>
      <input type="radio" id="q6-alt5" name="q6" value="">
      <label for="q6-alt5">Alternativa E</label><br><br>
      <p>7 - Enunciado</p>
      <input type="radio" id="q7-alt1" name="q7" value="">
      <label for="q7-alt1">Alternativa A</label><br>
      <input type="radio" id="q7-alt2" name="q7" value="">
      <label for="q7-alt2">Alternativa B</label><br>
      <input type="radio" id="q7-alt3" name="q7" value="">
      <label for="q7-alt3">Alternativa C</label><br>
      <input type="radio" id="q7-alt4" name="q7" value="">
      <label for="q7-alt4">Alternativa D</label><br>
      <input type="radio" id="q7-alt5" name="q7" value="">
      <label for="q7-alt5">Alternativa E</label><br><br>
      <p>8 - Enunciado</p>
      <input type="radio" id="q8-alt1" name="q8" value="">
      <label for="q8-alt1">Alternativa A</label><br>
      <input type="radio" id="q8-alt2" name="q8" value="">
      <label for="q8-alt2">Alternativa B</label><br>
      <input type="radio" id="q8-alt3" name="q8" value="">
      <label for="q8-alt3">Alternativa C</label><br>
      <input type="radio" id="q8-alt4" name="q8" value="">
      <label for="q8-alt4">Alternativa D</label><br>
      <input type="radio" id="q8-alt5" name="q8" value="">
      <label for="q8-alt5">Alternativa E</label><br><br>
      <p>9 - Enunciado</p>
      <input type="radio" id="q9-alt1" name="q9" value="">
      <label for="q9-alt1">Alternativa A</label><br>
      <input type="radio" id="q9-alt2" name="q9" value="">
      <label for="q9-alt2">Alternativa B</label><br>
      <input type="radio" id="q9-alt3" name="q9" value="">
      <label for="q9-alt3">Alternativa C</label><br>
      <input type="radio" id="q9-alt4" name="q9" value="">
      <label for="q9-alt4">Alternativa D</label><br>
      <input type="radio" id="q9-alt5" name="q9 value="">
      <label for="q9-alt5">Alternativa E</label><br><br>
      <p>10 - Enunciado</p>
      <input type="radio" id="q10-alt1" name="q10" value="">
      <label for="q10-alt1">Alternativa A</label><br>
      <input type="radio" id="q10-alt2" name="q10" value="">
      <label for="q10-alt2">Alternativa B</label><br>
      <input type="radio" id="q10-alt3" name="q10" value="">
      <label for="q10-alt3">Alternativa C</label><br>
      <input type="radio" id="q10-alt4" name="q10" value="">
      <label for="q10-alt4">Alternativa D</label><br>
      <input type="radio" id="q10-alt5" name="q10" value="">
      <label for="q10-alt5">Alternativa E</label><br><br>
    </form><hr>
    <div class="btn-group btns-exame">
      <a href="/exame_pg1" class="btn btn-primary">1</a>
      <a href="/exame_pg2" class="btn btn-primary">2</a>
      <a href="/exame_pg3" class="btn btn-primary">3</a>
    </div>
  </div>
</section>
{% endblock %}