{% extends "base.html" %}

{% block title %}Exame{% endblock %}

<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/cover-exame.png')}}" alt="Cover Conteudo" style="opacity: 1 !important;">
{% endblock %}
<!-- Texto da cover -->
{% block cover_text %}
Exame Final
{% endblock %}

{% block content %}
<section class="section-exame">
  <div class="title">
    <h2>Exame</h2>
  </div>
  <div class="conteudo-exame">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div style="color: #fff;">
        Não deixe nenhuma questão em branco. As respostas serão salvas após o término da prova. Para responder às
        perguntas, basta clicar nelas e as alternativas aparecerão.
        Não deixe nenhuma questão em branco. As respostas serão salvas após o término da prova. Para responder às
        perguntas, basta clicar nelas e as alternativas aparecerão.
      </div>
    </div>
    <hr>


    <form action="/" method="POST">
      <!-- QUESTOES -->

      <div class="container" onclick="toggleText(this)">

        <!-- PERGUNTA -->
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>1</p>
            </div>
            <div class="enunciado-texto">
              <p>Como o Scrum aborda a gestão de riscos em projetos complexos e de alta incerteza?</p>
            </div>
          </div>
          <!-- RESPOSTAS -->
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q1" id="q1a" value="a" required>
                <label for="q1a">a) Realizando análises de risco detalhadas no início do projeto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q1" id="q1b" value="b">
                <label for="q1b">b) Utilizando ciclos curtos de desenvolvimento e revisões constantes para identificar e
                  mitigar riscos progressivamente.</label>
              </li>
              <li class="option">
                <input type="radio" name="q1" id="q1c" value="c">
                <label for="q1c">c) Evitando a mudança de escopo após a definição inicial do projeto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q1" id="q1d" value="d">
                <label for="q1d">d) Transferindo a responsabilidade de riscos para uma equipe de gestão
                  dedicada.</label>
              </li>
              <li class="option">
                <input type="radio" name="q1" id="q1e" value="e">
                <label for="q1e">e) Reduzindo a comunicação entre os membros da equipe para minimizar conflitos.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>2</p>
            </div>
            <div class="enunciado-texto">
              <p>Qual é a importância de definir um Definition of Done (DoD) e como ele afeta a qualidade do produto?
              </p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q2" id="q2a" value="a" required>
                <label for="q2a">a) Serve como um guia para a documentação do projeto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q2" id="q2b" value="b">
                <label for="q2b">b) Ajuda a equipe a garantir que todos os critérios de aceitação sejam atendidos,
                  promovendo a entrega de incrementos de alta qualidade.</label>
              </li>
              <li class="option">
                <input type="radio" name="q2" id="q2c" value="c">
                <label for="q2c">c) É usado apenas para finalidades administrativas.</label>
              </li>
              <li class="option">
                <input type="radio" name="q2" id="q2d" value="d">
                <label for="q2d">d) É atualizado apenas no final do projeto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q2" id="q2e" value="e">
                <label for="q2e">e) É um documento que só o Product Owner utiliza.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>3</p>
            </div>
            <div class="enunciado-texto">
              <p>Durante a Sprint Review, a equipe Scrum demonstra o incremento de produto para os stakeholders. Qual é
                o objetivo principal dessa reunião e como os feedbacks recebidos devem ser utilizados?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q3" id="q3a" value="a" required>
                <label for="q3a">a) Validar o incremento de produto e ajustar o plano de release; feedbacks são
                  documentados e analisados posteriormente.</label>
              </li>
              <li class="option">
                <input type="radio" name="q3" id="q3b" value="b">
                <label for="q3b">b) Apresentar o progresso da sprint e obter aprovação dos stakeholders; feedbacks são
                  descartados se não forem críticos.</label>
              </li>
              <li class="option">
                <input type="radio" name="q3" id="q3c" value="c">
                <label for="q3c">c) Discutir problemas encontrados durante a sprint; feedbacks são utilizados para
                  ajustar o backlog do produto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q3" id="q3d" value="d">
                <label for="q3d">d) Demonstrar o incremento de produto e coletar feedback para melhorias; feedbacks são
                  imediatamente integrados no próximo sprint planning.</label>
              </li>
              <li class="option">
                <input type="radio" name="q3" id="q3e" value="e">
                <label for="q3e">e) Revisar a performance individual dos membros da equipe; feedbacks são utilizados
                  para avaliação de desempenho.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>4</p>
            </div>
            <div class="enunciado-texto">
              <p>Como o Scrum facilita a comunicação e a colaboração em equipes distribuídas geograficamente?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q4" id="q4a" value="a" required>
                <label for="q4a">a) Utilizando apenas reuniões presenciais.</label>
              </li>
              <li class="option">
                <input type="radio" name="q4" id="q4b" value="b">
                <label for="q4b">b) Implementando ferramentas de colaboração online e mantendo cerimônias Scrum
                  regulares para alinhar a equipe.</label>
              </li>
              <li class="option">
                <input type="radio" name="q4" id="q4c" value="c">
                <label for="q4c">c) Eliminando a necessidade de reuniões diárias para evitar problemas de fusos
                  horários.</label>
              </li>
              <li class="option">
                <input type="radio" name="q4" id="q4d" value="d">
                <label for="q4d">d) Focando exclusivamente na comunicação escrita.</label>
              </li>
              <li class="option">
                <input type="radio" name="q4" id="q4e" value="e">
                <label for="q4e">e) Atribuindo todas as decisões ao Scrum Master para simplificar a comunicação.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>5</p>
            </div>
            <div class="enunciado-texto">
              <p>Qual é a relação entre o Product Backlog e o Sprint Backlog, e como essa relação influencia o trabalho
                da equipe de desenvolvimento?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q5" id="q5a" value="a" required>
                <label for="q5a">a) O Product Backlog é usado apenas para planejamento de longo prazo e não influencia
                  diretamente o Sprint Backlog.</label>
              </li>
              <li class="option">
                <input type="radio" name="q5" id="q5b" value="b">
                <label for="q5b">b) O Sprint Backlog é um subconjunto do Product Backlog, refletindo os itens
                  priorizados que a equipe se compromete a concluir durante a sprint, orientando o trabalho diário da
                  equipe.</label>
              </li>
              <li class="option">
                <input type="radio" name="q5" id="q5c" value="c">
                <label for="q5c">c) Ambos são geridos exclusivamente pelo Scrum Master.</label>
              </li>
              <li class="option">
                <input type="radio" name="q5" id="q5d" value="d">
                <label for="q5d">d) O Sprint Backlog substitui o Product Backlog durante a sprint.</label>
              </li>
              <li class="option">
                <input type="radio" name="q5" id="q5e" value="e">
                <label for="q5e">e) Não há relação direta entre os dois backlogs.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>6</p>
            </div>
            <div class="enunciado-texto">
              <p>Como a prática de refinamento do backlog (Backlog Refinement) contribui para a preparação de sprints
                eficazes?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q6" id="q6a" value="a" required>
                <label for="q6a">a) O refinamento é feito apenas no início do projeto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q6" id="q6b" value="b">
                <label for="q6b">b) O refinamento contínuo garante que os itens do backlog estejam bem definidos e
                  priorizados, facilitando um planejamento de sprint mais eficiente e reduzindo incertezas.</label>
              </li>
              <li class="option">
                <input type="radio" name="q6" id="q6c" value="c">
                <label for="q6c">c) O refinamento reduz a flexibilidade da equipe em responder a mudanças.</label>
              </li>
              <li class="option">
                <input type="radio" name="q6" id="q6d" value="d">
                <label for="q6d">d) O refinamento é responsabilidade exclusiva dos desenvolvedores.</label>
              </li>
              <li class="option">
                <input type="radio" name="q6" id="q6e" value="e">
                <label for="q6e">e) O refinamento ocorre somente após a conclusão de uma sprint.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>7</p>
            </div>
            <div class="enunciado-texto">
              <p>Quais são as implicações de não ter um Product Owner disponível para a equipe de desenvolvimento
                durante a sprint?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q7" id="q7a" value="a" required>
                <label for="q7a">a) A equipe de desenvolvimento assume automaticamente as responsabilidades do Product
                  Owner.</label>
              </li>
              <li class="option">
                <input type="radio" name="q7" id="q7b" value="b">
                <label for="q7b">b) Pode resultar em falta de clareza nos requisitos, prioridades mal definidas e
                  atrasos na tomada de decisões, afetando a eficácia e a entrega de valor do sprint.</label>
              </li>
              <li class="option">
                <input type="radio" name="q7" id="q7c" value="c">
                <label for="q7c">c) A sprint continua sem nenhuma alteração, pois o Scrum Master pode substituir o
                  Product Owner.</label>
              </li>
              <li class="option">
                <input type="radio" name="q7" id="q7d" value="d">
                <label for="q7d">d) Os stakeholders assumem a função do Product Owner temporariamente.</label>
              </li>
              <li class="option">
                <input type="radio" name="q7" id="q7e" value="e">
                <label for="q7e">e) Não há impacto significativo, desde que o Scrum Master esteja presente.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>8</p>
            </div>
            <div class="enunciado-texto">
              <p>Como o uso de histórias de usuário (user stories) no Scrum contribui para a compreensão e a entrega de
                valor ao cliente?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q8" id="q8a" value="a" required>
                <label for="q8a">a) Histórias de usuário substituem a documentação de requisitos.</label>
              </li>
              <li class="option">
                <input type="radio" name="q8" id="q8b" value="b">
                <label for="q8b">b) Elas permitem que a equipe de desenvolvimento entenda claramente as necessidades e
                  expectativas do usuário, focando na entrega de funcionalidades que agregam valor real ao
                  cliente.</label>
              </li>
              <li class="option">
                <input type="radio" name="q8" id="q8c" value="c">
                <label for="q8c">c) Histórias de usuário são usadas apenas para planejamento de longo prazo.</label>
              </li>
              <li class="option">
                <input type="radio" name="q8" id="q8d" value="d">
                <label for="q8d">d) Elas aumentam a complexidade do backlog do produto.</label>
              </li>
              <li class="option">
                <input type="radio" name="q8" id="q8e" value="e">
                <label for="q8e">e) Histórias de usuário são utilizadas apenas para testes e validação.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>9</p>
            </div>
            <div class="enunciado-texto">
              <p>Como a técnica de "Refinamento do Backlog" contribui para a eficiência do Scrum e qual é o papel do
                Scrum Master durante esse processo?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q9" id="q9a" value="a" required>
                <label for="q9a">a) Prioriza tarefas de acordo com a importância do projeto; o Scrum Master garante que
                  a equipe siga a ordem definida.</label>
              </li>
              <li class="option">
                <input type="radio" name="q9" id="q9b" value="b">
                <label for="q9b">b) Melhora a clareza e detalhamento dos itens do backlog; o Scrum Master facilita as
                  sessões de refinamento e remove impedimentos.</label>
              </li>
              <li class="option">
                <input type="radio" name="q9" id="q9c" value="c">
                <label for="q9c">c) Estabelece um cronograma rígido para as entregas; o Scrum Master controla o tempo
                  gasto em cada tarefa.</label>
              </li>
              <li class="option">
                <input type="radio" name="q9" id="q9d" value="d">
                <label for="q9d">d) Reduz o tempo necessário para a sprint planning; o Scrum Master decide quais itens
                  serão refinados.</label>
              </li>
              <li class="option">
                <input type="radio" name="q9" id="q9e" value="e">
                <label for="q9e">e) Garante que todos os itens do backlog estejam completamente definidos; o Scrum
                  Master aprova as estimativas de esforço feitas pela equipe.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>10</p>
            </div>
            <div class="enunciado-texto">
              <p>Qual é o papel dos stakeholders durante a Sprint Review e como sua participação afeta o desenvolvimento
                do produto?</p>
            </div>
          </div>
          <div class="question hidden">
            <ul class="options">
              <li class="option">
                <input type="radio" name="q10" id="q10a" value="a" required>
                <label for="q10a">a) Os stakeholders apenas observam a Sprint Review sem interagir.</label>
              </li>
              <li class="option">
                <input type="radio" name="q10" id="q10b" value="b">
                <label for="q10b">b) A participação ativa dos stakeholders durante a Sprint Review fornece feedback
                  valioso, alinhando as expectativas e ajudando a ajustar o Product Backlog para maximizar o valor
                  entregue nas sprints seguintes.</label>
              </li>
              <li class="option">
                <input type="radio" name="q10" id="q10c" value="c">
                <label for="q10c">c) Os stakeholders definem as tarefas específicas para a próxima sprint.</label>
              </li>
              <li class="option">
                <input type="radio" name="q10" id="q10d" value="d">
                <label for="q10d">d) A presença dos stakeholders é opcional e não influencia o desenvolvimento.</label>
              </li>
              <li class="option">
                <input type="radio" name="q10" id="q10e" value="e">
                <label for="q10e">e) Os stakeholders revisam a performance individual dos membros da equipe durante a
                  Sprint Review.</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>11</p>
            </div>
            <div class="enunciado-texto">
              <p>Complete corretamente as sentenças abaixo.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q11-container" class="question-fill-container container">
              <div class="d-flex gap-3 align-items-center text-center">
                <p class="m-0 p-0">
                  O evento Scrum chamado
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q11-1"
                    id="q11-1" value="" disabled required>
                  ocorre diariamente e permite ao time sincronizar atividades e planejar o trabalho das próximas 24
                  horas, enquanto o
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q11-2"
                    id="q11-2" value="" disabled required>
                  é realizado no final de cada Sprint para inspecionar e adaptar o processo.
                </p>
              </div>
              <div
                class="d-flex flex-column flex-md-row flex-wrap m-4 w-100 row-gap-3 column-gap-lg-2 justify-content-stretch align-items-center">
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q11" id="q11a" value="a" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q11a-label" for="q11a">Sprint Planning</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q11" id="q11b" value="b" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q11b-label" for="q11b">Daily Scrum</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q11" id="q11c" value="c" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q11c-label" for="q11c">Sprint Review</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q11" id="q11d" value="d" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q11d-label" for="q11d">Sprint
                    Retrospective</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q11" id="q11e" value="e" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q11e-label" for="q11e">Refinamento</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>12</p>
            </div>
            <div class="enunciado-texto">
              <p>Complete corretamente as sentenças abaixo.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q12-container" class="question-fill-container container">
              <div class="d-flex gap-3 align-items-center text-center">
                <p class="m-0 p-0">
                  Durante o Sprint Planning, o time de desenvolvimento define o
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q12-1"
                    id="q12-1" value="" disabled required>
                  que será realizado durante a Sprint, enquanto o
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q12-2"
                    id="q12-2" value="" disabled required>
                  é revisado e priorizado para refletir as mudanças e novas prioridades.
                  .
                </p>
              </div>
              <div
                class="d-flex flex-column flex-md-row flex-wrap m-4 w-100 row-gap-3 column-gap-lg-2 justify-content-stretch align-items-center">
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q12" id="q12a" value="a" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q12a-label" for="q12a">Sprint Backlog</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q12" id="q12b" value="b" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q12b-label" for="q12b">Product Backlog</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q12" id="q12c" value="c" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q12c-label" for="q12c">Daily Scrum</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q12" id="q12d" value="d" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q12d-label" for="q12d">Sprint
                    Retrospective</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q12" id="q12e" value="e" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q12e-label" for="q12e">User Stories</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>13</p>
            </div>
            <div class="enunciado-texto">
              <p>Complete corretamente as sentenças abaixo.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q13-container" class="question-fill-container container">
              <div class="d-flex gap-3 align-items-center text-center">
                <p class="m-0 p-0">
                  Na metodologia ágil Scrum, o
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q13-1"
                    id="q13-1" value="" disabled required>
                  é responsável por remover impedimentos que atrapalham o progresso do time, enquanto o
                  <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q13-2"
                    id="q13-2" value="" disabled required>
                  é responsável por maximizar o valor do trabalho realizado pela equipe.
                </p>
              </div>
              <div
                class="d-flex flex-column flex-md-row flex-wrap m-4 w-100 row-gap-3 column-gap-lg-2 justify-content-stretch align-items-center">
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q13" id="q13a" value="a" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q13a-label" for="q13a">Scrum Master</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q13" id="q13b" value="b" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q13b-label" for="q13b">Product Owner</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q13" id="q13c" value="c" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q13c-label" for="q13c">Desenvolvedor</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q13" id="q13d" value="d" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q13d-label" for="q13d">Cliente</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" class="btn-check" name="q13" id="q13e" value="e" autocomplete="off">
                  <label class="btn btn-primary rounded-pill px-4" id="q13e-label" for="q13e">Time de
                    Desenvolvimento</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>14</p>
            </div>
            <div class="enunciado-texto">
              <p>Associe a primeira e a segunda coluna, relacionando os eventos e artefatos do Scrum com suas
                descrições.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q14-container" class="question-assoc-container">
              <div class="d-flex flex-column flex-md-row m-4 justify-content-around align-items-center">
                <!-- First column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14a1" value="a1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q14a1">Sprint Retrospective</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14b1" value="b1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q14b1">Daily Scrum</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14c1" value="c1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q14c1">Product Backlog</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14d1" value="d1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q14d1">Sprint Backlog</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14e1" value="e1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q14e1">Sprint Review</label>
                  </div>
                </div>
                <!-- Second column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3 mt-4">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14a2" value="a2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q14a2">
                      Reunião diária de 15 minutos para sincronizar atividades.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14b2" value="b2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q14b2">
                      Conjunto de requisitos priorizados.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14c2" value="c2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q14c2">
                      Revisão do trabalho concluído com os stakeholders.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14d2" value="d2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q14d2">
                      Reflexão sobre o processo da Sprint para melhorias.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q14" id="q14e2" value="e2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q14e2">
                      Conjunto de itens a serem trabalhados durante a Sprint.
                    </label>
                  </div>
                </div>
              </div>
              <div id="q14-associacoes" class="d-flex flex-column justify-content-around align-items-center gap-4">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>15</p>
            </div>
            <div class="enunciado-texto">
              <p>Associe a primeira e a segunda coluna, relacionando os papéis e responsabilidades no Scrum.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q15-container" class="question-assoc-container">
              <div class="d-flex flex-column flex-md-row m-4 justify-content-around align-items-center">
                <!-- First column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15a1" value="a1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q15a1">Scrum Master</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15b1" value="b1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q15b1">Product Owner</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15c1" value="c1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q15c1">Time de Desenvolvimento</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15d1" value="d1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q15d1">Stakeholders</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15e1" value="e1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q15e1">Scrum Team</label>
                  </div>
                </div>
                <!-- Second column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3 mt-4">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15a2" value="a2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q15a2">
                      Responsável por maximizar o valor do produto.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15b2" value="b2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q15b2">
                      Facilita as cerimônias e remove impedimentos.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15c2" value="c2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q15c2">
                      Conjunto de profissionais que desenvolve o produto.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15d2" value="d2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q15d2">
                      Define a visão do produto e interage com os stakeholders.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q15" id="q15e2" value="e2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q15e2">
                      Garante a aderência aos processos Scrum e promove a melhoria contínua.
                    </label>
                  </div>
                </div>
              </div>
              <div id="q15-associacoes" class="d-flex flex-column justify-content-around align-items-center gap-4">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" onclick="toggleText(this)">
        <div class="card-content">
          <div class="enunciado-questoes">
            <div class="numeracao-questoes">
              <p>16</p>
            </div>
            <div class="enunciado-texto">
              <p>Associe a primeira e a segunda coluna, relacionando os princípios e práticas do Scrum.</p>
            </div>
          </div>
          <div class="question hidden">
            <div id="q16-container" class="question-assoc-container">
              <div class="d-flex flex-column flex-md-row m-4 justify-content-around align-items-center">
                <!-- First column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16a1" value="a1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q16a1">Sprint</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16b1" value="b1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q16b1">Definition of Done</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16c1" value="c1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q16c1">Backlog RefinementScrum Values</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16d1" value="d1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q16d1">Scrum Values</label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16e1" value="e1" autocomplete="off">
                    <label class="btn btn-primary rounded-pill px-4" for="q16e1">Sprint Planning</label>
                  </div>
                </div>
                <!-- Second column -->
                <div class="d-flex flex-column justify-content-around align-items-center gap-3 mt-4">
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16a2" value="a2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q16a2">
                      Transparência, inspeção e adaptação.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16b2" value="b2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q16b2">
                      Lista de todas as tarefas necessárias para entregar uma funcionalidade.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16c2" value="c2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q16c2">
                      Periodo fixo onde um incremento do produto é desenvolvido.
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16d2" value="d2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q16d2">
                      Itens que têm uma definição clara de pronto (DoD).
                    </label>
                  </div>
                  <div class="mx-3">
                    <input type="checkbox" class="btn-check" name="q16" id="q16e2" value="e2" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-pill px-4" for="q16e2">Revisão contínua para garantir
                      a qualidade do produto.
                    </label>
                  </div>
                </div>
              </div>
              <div id="q16-associacoes" class="d-flex flex-column justify-content-around align-items-center gap-4">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <button type="button" id="submit-exam" class="submit-btn">Enviar exame</button>

    <div id="resultPopup" class="popup" style="display: none;">
      <div id="popupContent">
      </div>
    </div>

    <div id="overlay" class="opaque" style="display: none;"></div>
  </div>
  {% endblock %}

  {%block quizjs%}
  {%if not name_now%}
  <script>
    $(document).ready(function () {
      $('#ModalLogin').modal({ show: false })
      $('#ModalLogin').modal('show')
    })
  </script>
  {%endif%}
  <script>
    $(document).ready(function () {

      /* Questões Modelo 3: 2 altenativas corretas - completar lacunas */
      const respostasCorretasQ11 = [ 'b', 'd' ];
      const respostasQ11 = []
      questoes.limitChoices(2, 'q11', respostasQ11, questoes.fillBlanks);

      /* Questões Modelo 3: 2 altenativas corretas - completar lacunas */
      const respostasCorretasQ12 = [ 'a', 'b' ];
      const respostasQ12 = []
      questoes.limitChoices(2, 'q12', respostasQ12, questoes.fillBlanks);

      /* Questões Modelo 3: 2 altenativas corretas - completar lacunas */
      const respostasCorretasQ13 = [ 'a', 'b' ];
      const respostasQ13 = []
      questoes.limitChoices(2, 'q13', respostasQ13, questoes.fillBlanks);

      /** Questões Modelo 4: Associar colunas */
      const respostasCorretasQ14 = {
        'a1': 'b2',
        'b1': 'c2',
        'c1': 'e2',
        'd1': 'a2',
        'e1': 'd2',
      };
      const respostasQ14 = {};
      questoes.assoc('q14', respostasQ14);

      /** Questões Modelo 4: Associar colunas */
      const respostasCorretasQ15 = {
        'a1': 'b2',
        'b1': 'a2',
        'c1': 'c2',
        'd1': 'd2',
        'e1': 'e2',
      };
      const respostasQ15 = {};
      questoes.assoc('q15', respostasQ15)

      /** Questões Modelo 4: Associar colunas */
      const respostasCorretasQ16 = {
        'a1': 'd2',
        'b1': 'c2',
        'c1': 'a2',
        'd1': 'b2',
        'e1': 'e2',
      };
      const respostasQ16 = {};
      questoes.assoc('q16', respostasQ16)

      // Valida questões e envia para o servidor
      $("#submit-exam").on('click', function () {
        const correctAnswers = {
          q1: 'a',
          q2: 'b',
          q3: 'd',
          q4: 'b',
          q5: 'a',
          q6: 'a',
          q7: 'a',
          q8: 'c',
          q9: 'b',
          q10: 'd'
        };

        const userAnswers = {};
        let totalCorrect = 0;

        for (const question in correctAnswers) {
          const selectedOption = document.querySelector(`input[name=${ question }]:checked`);
          if (selectedOption) {
            // check if the answer is correct
            if (selectedOption.value === correctAnswers[ question ]) {
              totalCorrect++;
            }
            userAnswers[ question ] = selectedOption.value;
          }
        }

        // Corrige a questão 11 a 16
        let certa11 = questoes.valida(respostasQ11, respostasCorretasQ11);
        if (certa11) {
          totalCorrect += 1;
        }
        let certa12 = questoes.valida(respostasQ12, respostasCorretasQ12);
        if (certa12) {
          totalCorrect += 1;
        }
        let certa13 = questoes.valida(respostasQ13, respostasCorretasQ13);
        if (certa13) {
          totalCorrect += 1;
        }
        let certa14 = questoes.valida(respostasQ14, respostasCorretasQ14);
        if (certa14) {
          totalCorrect += 1;
        }
        let certa15 = questoes.valida(respostasQ15, respostasCorretasQ15);
        if (certa15) {
          totalCorrect += 1;
        }
        let certa16 = questoes.valida(respostasQ16, respostasCorretasQ16);
        if (certa16) {
          totalCorrect += 1;
        }

        // add questões 11 a 16 às respostas do usuário
        userAnswers[ 'q11' ] = respostasQ11;
        userAnswers[ 'q12' ] = respostasQ12;
        userAnswers[ 'q13' ] = respostasQ13;
        userAnswers[ 'q14' ] = respostasQ14;
        userAnswers[ 'q15' ] = respostasQ15;
        userAnswers[ 'q16' ] = respostasQ16;

        // Verifica se todas as questões foram respondidas
        console.log('user answers', userAnswers);
        console.log(Object.keys(userAnswers).length)
        if (Object.keys(userAnswers).length < 16) {
          // display popover
          const popup = document.getElementById("resultPopup");
          const overlay = document.getElementById("overlay");
          const popupContent = document.getElementById("popupContent");
          popupContent.innerHTML = `
            <div class="card-cadastro1">
                <span class="titulo-cadastro">Responda todas as questões!</span>
                <p class="mensagem-cadastro" style="margin-bottom: 20px">Confira se você respondeu todas as questões antes de enviar as suas respostas.</p>
                <div class="cadastro" style="display: flex;">
                  <button id="voltar" class="botao-enviar-email">Voltar</button>
                </div>
            </div>`;
          popup.style.display = "block";
          overlay.style.display = "block";

          /** Close popup */
          $("#overlay, #voltar").on('click', function () {
            // Close pop up
            const popup = $("#resultPopup");
            const overlay = $("#overlay");
            popup.css({ display: "none" })
            overlay.css({ display: "none" })
          });

          return false;
        }


        // display popover
        const popup = document.getElementById("resultPopup");
        const overlay = document.getElementById("overlay");
        const popupContent = document.getElementById("popupContent");
        popupContent.innerHTML = `
            <div class="card-cadastro1">
                <span class="titulo-cadastro">Parabéns!</span>
                <p class="mensagem-cadastro" style="margin-bottom: 20px">Você concluiu o exame. Agora, para conseguir visualizar suas pontuações, faça uma rápida avaliação do nosso site.</p>
                <div class="cadastro" style="display: flex;">
                    <a href="/avaliar">
                        <button class="botao-enviar-email">Realizar avaliação</button>
                    </a>
                </div>
            </div>`;
        popup.style.display = "block";
        overlay.style.display = "block";


        // Enviar totalCorrect para o servidor
        const data = { totalCorrect: totalCorrect, userAnswers: userAnswers }
        console.log(data)
        questoes.submitScore(data, (dataS, status) => console.log("Server response", dataS));
        /*
        try {

          // submit score to server
          const response = await fetch('/submit-score-exame', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ totalCorrect: totalCorrect, userAnswers: userAnswers })
          });



          const result = await response.json();
          console.log(result);
        } catch (error) {
          console.error('Erro ao enviar dados:', error);
        }
        */
      });
    });
  </script>
  {% endblock %}