{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

<!-- COVER -->
{% block cover_img %}
<img src="{{url_for('static', filename='images/scrum.png')}}" alt="Cover Home">
{% endblock %}
{% block cover_text %}
Bem vindo a SCRUM ACADEMY
{% endblock %}

{% block content %}
<section class="introducao-home">
  <div class="title">
    <h2>Introdução: </h2>
  </div>
  <div class="texto-introducao-home">
    <p>O Scrum é uma abordagem colaborativa e flexível para o desenvolvimento de projetos, especialmente na área de
      software. Baseia-se em princípios de transparência, adaptação contínua e entrega incremental. As equipes trabalham
      em ciclos curtos chamados de "sprints", durante os quais se comprometem a entregar incrementos do produto. A
      comunicação constante e a colaboração são essenciais, permitindo uma resposta ágil a mudanças e uma melhoria
      contínua do produto ao longo do tempo. O Scrum promove a autonomia das equipes e valoriza a interação humana,
      criando um ambiente propício para a inovação e a adaptação às demandas do mercado.</p>
  </div>
</section>
<section class="conteudo-home">
  <div class="title">
    <h2>Conteúdos: </h2>
  </div>
</section>

<!-- TESTES -->
<section class="conteudos" id="conteudos">
  <div class="container-conteudos">
    <div class="conteudo ativo">
      <a href="/conteudo" target="_blank">
        <img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="conteudo 1">
        <h3 class="titulo">Conteúdo 1</h3>
        <div class="informacoes-conteudo">
          {% if respostas %}
          <input value="{{ corrigido[0]  }}">
          {% else %}
          <input value="">

          {% endif %}

          <p>Descrição do Conteúdo</p>
        </div>
      </a>
    </div>
    <div class="conteudo ativo">
      <a href="/conteudo" target="_blank">
        <img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="conteudo 1">
        <h3 class="titulo">Conteúdo 1</h3>
        <div class="informacoes-conteudo">
          <p>Descrição do Conteúdo</p>
        </div>
      </a>
    </div>
    <div class="conteudo ativo">
      <a href="/conteudo" target="_blank">
        <img src="{{url_for('static', filename='images/Conteudo1-img.jpg')}}" alt="conteudo 1">
        <h3 class="titulo">Conteúdo 1</h3>
        <div class="informacoes-conteudo">
          <p>Descrição do Conteúdo</p>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- EXAME -->

<section class="conteudos" id="conteudos">
  <div class="title">
    <h2>Exame: </h2>
  </div>
  <div class="container-conteudos">
    <div class="card card-exame">
      <div class="card-body">
        <h2 class="card-title">Teste seu conhecimento!</h2>
        <p class="card-text">Faça um exame avaliativo que reúne conteúdo de todos os capítulos apresentados. Seu
          resultado será salvo juntamente do nome fornecido pelo usuário.</p>
        <a href="/exame_pg1" class="btn btn-primary btn-exame">Iniciar</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}