{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

<!-- Imagem cover -->
{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/cover-exame.png')}}" alt="Cover Conteudo" style="opacity: 1 !important;">
{% endblock %}
<!-- Texto da cover -->
{% block cover_text %}
Resultados
{% endblock %}


{% block content %}
<section>
  <div class="title">
    <h2>Resultados por Estudante</h2>
  </div>
  <div class="p-5">
    <p>O Scrum é uma abordagem colaborativa e flexível para o desenvolvimento de projetos, especialmente na área de
      software. Baseia-se em princípios de transparência, adaptação contínua e entrega incremental. As equipes trabalham
      em ciclos curtos chamados de "sprints", durante os quais se comprometem a entregar incrementos do produto. A
      comunicação constante e a colaboração são essenciais, permitindo uma resposta ágil a mudanças e uma melhoria
      contínua do produto ao longo do tempo. O Scrum promove a autonomia das equipes e valoriza a interação humana,
      criando um ambiente propício para a inovação e a adaptação às demandas do mercado.</p>
  </div>
</section>
<section class="container p-0 p-lg-5">
  <!-- <table id="resultados" > -->
    <table class="table table-hover table-borderless table-striped table-responsive text-center">
      <thead>
          <tr>
              <th>Seq.</th>
              <th>Nome</th>
              <th>Nota</th>
              <th>Avaliação</th>
              <th>Comentário</th>
              <th>Certificado</th>
          </tr>
      </thead>
      <tbody>
          {% for row in data %}
          <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{row[3]}}</td>
              <td>{{ row[4] }}</td>
              {% if user_id == row[-1] %}
                  <td><a href="/certificado"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg></a></td>
              {% else %} <td></td>
              {% endif %}
              
          </tr>
          {% endfor %}
      </tbody>
  </table>
</section>
<section class="mb-5">
  <div class="title">
    <h2>Aproveitamento</h2>
  </div>
  <div class="p-5">
    <div class="card mx-auto">
      <div class="card-body mx-0 mb-5">
        <div class="row gy-5">
          <div class="col-12 col-md-6 offset-md-3 offset-lg-0 px-3 text-center">
            <img src="{{ url_for('static', filename='images/sample-resultados-chart.png') }}" style="max-width: 80%">
          </div>
          <div class="col-12 col-lg-6 text-center">
            <div class="resultados-stats d-flex flex-column justify-content-around">
              <div>
                <h3>Média de acertos</h3>
                <p>75%</p>
              </div>
              <div>
                <h3>Média de erros</h3>
                <p>25%</p>
              </div>
              <div>
                <h3>Número de participantes</h3>
                <p>12 participantes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
