{% extends "base.html" %}

{% block title %}Quem Somos{% endblock %}

{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/bug-busters-logo-white.png')}}" alt="Cover Home">
{% endblock %}

{% block cover_text %}

{% endblock %}

{% block content %}




<!-- SOBRE NÓS -->
<div class="title">
    <h2>Sobre Nós: </h2>
</div>
<br>
<div class="container bg-card-sobre-nos rounded card-sobre-nos ">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3 "><img src="{{url_for('static', filename='images/Sobre_Nos.png')}}" alt="Sobre Nós"
                class="rounded img-card-sobre-nos"></div>
        <div class="col">
            <h2>Quem somos?</h2>
            <p class="text-card-sobre-nos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu
                orci elementum, aliquet tortor in, posuere mauris. Vestibulum semper fringilla est ut
                ornare. Maecenas erat ex, cursus ut bibendum vel, feugiat sit amet nunc. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Praesent et aliquet orci. Integer ut
                urna purus. Nullam id egestas eros, imperdiet ultricies leo. Nulla egestas lobortis
                tristique. Donec et velit id quam dictum tincidunt iaculis sit amet massa. Aenean sit
                amet erat nulla. Etiam ultrices sit amet turpis eget mollis. Nunc venenatis nunc lectus.
                Ut nec fringilla purus. Pellentesque vel est eu arcu feugiat consequat. Sed accumsan,
                orci maximus malesuada pulvinar, purus nunc congue risus, quis sollicitudin enim elit ut
                nisi. Cras viverra leo a velit interdum, at suscipit lacus suscipit.</p>
        </div>

    </div>
</div>


<!-- VISÃO -->
<br><br><br>

<div class="container bg-card-sobre-nos rounded card-sobre-nos ">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3  order-lg-2"><img src="{{url_for('static', filename='images/visao.png')}}"
                alt="Visão" class="rounded img-card-sobre-nos"></div>
        <div class="col order-lg-1">
            <h2 class="text-lg-end ">Visão</h2>
            <p class="text-card-sobre-nos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu
                orci elementum, aliquet tortor in, posuere mauris. Vestibulum semper fringilla est ut
                ornare. Maecenas erat ex, cursus ut bibendum vel, feugiat sit amet nunc. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Praesent et aliquet orci. Integer ut
                urna purus. Nullam id egestas eros, imperdiet ultricies leo. Nulla egestas lobortis
                tristique. Donec et velit id quam dictum tincidunt iaculis sit amet massa. Aenean sit
                amet erat nulla. Etiam ultrices sit amet turpis eget mollis. Nunc venenatis nunc lectus.
                Ut nec fringilla purus. Pellentesque vel est eu arcu feugiat consequat. Sed accumsan,
                orci maximus malesuada pulvinar, purus nunc congue risus, quis sollicitudin enim elit ut
                nisi. Cras viverra leo a velit interdum, at suscipit lacus suscipit.</p>
        </div>

    </div>
</div>




<!-- OBJETIVOS -->
<br><br><br>

<div class="container bg-card-sobre-nos rounded card-sobre-nos ">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3 "><img src="{{url_for('static', filename='images/objetivo.png')}}" alt="Objetivo"
                class="rounded img-card-sobre-nos"></div>
        <div class="col">
            <h2>Objetivos</h2>
            <p class="text-card-sobre-nos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu
                orci elementum, aliquet tortor in, posuere mauris. Vestibulum semper fringilla est ut
                ornare. Maecenas erat ex, cursus ut bibendum vel, feugiat sit amet nunc. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Praesent et aliquet orci. Integer ut
                urna purus. Nullam id egestas eros, imperdiet ultricies leo. Nulla egestas lobortis
                tristique. Donec et velit id quam dictum tincidunt iaculis sit amet massa. Aenean sit
                amet erat nulla. Etiam ultrices sit amet turpis eget mollis. Nunc venenatis nunc lectus.
                Ut nec fringilla purus. Pellentesque vel est eu arcu feugiat consequat. Sed accumsan,
                orci maximus malesuada pulvinar, purus nunc congue risus, quis sollicitudin enim elit ut
                nisi. Cras viverra leo a velit interdum, at suscipit lacus suscipit.</p>
        </div>

    </div>
</div>
<br><br>




{% endblock content %}