{% extends "base.html" %}

{% block title %}Quem Somos{% endblock %}

{% block cover_img %}
<br>
<img src="{{url_for('static', filename='images/bug-busters-logo-white.png')}}" alt="Cover Home">
{% endblock %}

{% block cover_text %}

{% endblock %}

{% block content %}




<!-- SOBRE NÓS -->
<div class="title">
    <h2>Sobre Nós: </h2>
</div>
<br>
<div class="container bg-card-sobre-nos card-sobre-nos ">
    <div class="row align-items-center">
        <div class="col-12 col-lg-3"><img src="{{url_for('static', filename='images/Sobre_Nos.png')}}" alt="Sobre Nós"
                class="rounded img-card-sobre-nos"></div>
        <div class="col">
            <h2>Quem somos?</h2>
            <p class="text-card-sobre-nos"> A Bug Buster é uma empresa nova no mercado. Nasceu em 2024, fruto da
                inquietação de um grupo de jovens desenvolvedores que decidiram investir numa das mais inovadoras áreas
                da atualidade: a Tecnologia da Informação. Aproveitando-se de um ecossistema em expansão, selecionamos
                as melhores
                práticas de gestão da atualidade, com uma metodologia Ágil aplicada em formato de trabalho em Scrum,
                nosso time se
                aperfeiçoa a cada novo desafio apresentado. O entusiasmo e a sede por superar-se cada vez mais, nos
                qualifica para sermos
                o parceiro ideal para as empresas que precisam de soluções inteligentes e adequadas nas diversas áreas
                da Tecnologia da
                Informação.


                <!-- Somos uma equipe de desenvolvedores de software, estudantes do curso de
                Análise e Desenvolvimento de Sistemas (ADS) na Faculdade de Tecnologia (FATEC). Estamos comprometidos em
                aplicar nossos conhecimentos acadêmicos na prática por meio de projetos inovadores, como nossa mais
                recente iniciativa: uma API desenvolvida utilizando o sistema Scrum. Em nossa jornada, buscamos
                aprimorar nossas habilidades técnicas e de trabalho em equipe, adotando metodologias ágeis para garantir
                a eficiência e qualidade do nosso trabalho. Estamos entusiasmados em enfrentar desafios e contribuir
                para o avanço da tecnologia, enquanto construímos uma base sólida para nossas carreiras profissionais. -->
            </p>
        </div>

    </div>
</div>


<!-- VISÃO -->
<br><br><br>

<div class="container bg-card-sobre-nos card-sobre-nos ">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3  order-lg-2"><img src="{{url_for('static', filename='images/visao.png')}}"
                alt="Visão" class="rounded img-card-sobre-nos"></div>
        <div class="col order-lg-1">
            <h2 class="text-lg-end ">Visão</h2>
            <p class="text-card-sobre-nos">
                Impulsionar a inovação e transformar ideias em soluções tecnológicas inovadores e adequadas às
                necessidades de nossa carta de clientes e parceiros. Em um mercado cada vez mais aberto, em que sonhos
                que pareciam
                muito distantes apenas algumas décadas atrás, sabemos que os desafios são imensos, assim como nosso
                foco. A
                criação de soluções tecnológicas é também um desafio de repensar a forma de se relacionar no mercado,
                assim
                forma a inclusão, a pluralidade de pessoas e de ideias e a promoção de práticas adequadas à nova
                realidade de
                mercado nos qualifica hoje e no futuro para alcançarmos os maiores desafios com excelência,
                sustentabilidade,
                confiança e transparência. Em poucos anos, objetivamos nos tornar referência no mercado Tecnológico do
                Vale do Paraíba.




                <!-- A visão da nossa equipe de desenvolvimento de software é impulsionar a inovação e transformar ideias em
                soluções tecnológicas excepcionais, superando as expectativas dos nossos clientes e parceiros. Queremos
                ser reconhecidos como líderes na área de tecnologia, oferecendo produtos de alta qualidade que
                impulsionem o progresso e melhorem a experiência das pessoas. Nosso compromisso inclui criar um ambiente
                de trabalho inclusivo e inspirador, promovendo relações sólidas com os clientes baseadas em
                transparência, confiança e excelência técnica. Estamos focados em colaborar e crescer juntos, buscando
                constantemente aprimorar nossas habilidades e contribuir para o sucesso sustentável da equipe e de
                nossos projetos.-->
            </p>
        </div>

    </div>
</div>




<!-- MISSÃO  -->
<br><br><br>

<div class="container bg-card-sobre-nos card-sobre-nos">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3 "><img src="{{url_for('static', filename='images/objetivo.png')}}" alt="Objetivo"
                class="rounded img-card-sobre-nos"></div>
        <div class="col">
            <h2>Missão</h2>
            <p class="text-card-sobre-nos">
                Ser jovem não é facil. Como uma empresa jovem, nossa missão é aglutinar, é aproximar e é fazer diferente
                o que pode não estar dando certo. Com um time diverso, procuramos sempre garantir um ambiente de
                negócios frutífero para todos, com as melhores práticas de mercado. Sabemos o quão desafiador é
                alcançarmos nossos objetivos, ainda mais em um mercado digital tão vasto. Acreditamos que a metodológia
                Ágil aplicada ao Scrum é uma ferramenta poderosa para alcançarmos o sonho de nos tornarmos refência de
                mercado. Considere a Bug Busters nos seus proximos desafios!
                <!-- O objetivo deste sistema é se tornar um exemplo de excelência na divulgação de informações sobre a
                metodologia ágil Scrum, capacitando equipes em todo o mundo a aprimorar suas habilidades e conhecimentos
                por meio da nossa plataforma. Queremos ser o recurso de referência para profissionais e organizações que
                desejam adotar e aperfeiçoar seus processos ágeis, oferecendo conteúdo claro, didático e acessível a
                todos os usuários, independentemente do seu nível de experiência. A nossa visão é facilitar a
                especialização e o desenvolvimento de equipes em ambientes ágeis, promovendo práticas eficazes e
                impulsionando o sucesso na implementação do Scrum. -->
            </p>
        </div>

    </div>
</div>
<br><br><br>
<!-- VALORES -->
<div class="container bg-card-sobre-nos card-sobre-nos ">

    <div class="row align-items-center">
        <div class="col-12 col-lg-3  order-lg-2"><img src="{{url_for('static', filename='images/visao.png')}}"
                alt="Visão" class="rounded img-card-sobre-nos"></div>
        <div class="col order-lg-1">
            <h2 class="text-lg-end ">Valores</h2>
            <p class="text-card-sobre-nos" >
                A cada dia que passa aprendemos mais sobre nós mesmos e sobre o nosso
                entorno. O respeito à diversidade, ao meio ambiente, às práticas empresariais adequadas e aos nossos
                antigos e novos clientes é o que nos impulsiona em direção à nossa Missão e Visão. Não faz sentido, para
                nós, nos colocarmos em um mercado competitivo como o de tecnologia se não for para agregar as diferentes
                visões de mundo que expandem nossa capacidade de compreensão daquilo que nos há de mais valor: o
                respeito e a confiança na nossa equipe, colaboradores e clientes.
            </p>
        </div>

    </div>
</div>
<br><br>

{% endblock %}