{% extends "base.html" %}

{% block title %}Quem Somos{% endblock %}


<!-- Imagem cover -->
{% set cover_img = '/bug-busters-logo-white.png' %}


<!-- Texto da cover -->
{% block cover_text %}
{% endblock %}


{% block content %}
<!-- SOBRE NÓS -->
<div class="title">
  <h2>Sobre Nós: </h2>
</div>
<br>
<div class="container bg-card-sobre-nos rounded card-sobre-nos ">

  <div class="row align-items-center">
    <div class="col-12 col-lg-3 "><img src="{{url_for('static', filename='images/Sobre_Nos.png')}}" alt="Sobre Nós"
        class="rounded img-card-sobre-nos"></div>
    <div class="col">
      <h2>Quem somos?</h2>
      <p class="text-card-sobre-nos">Somos uma equipe de desenvolvedores de software, estudantes do curso de
        Análise e Desenvolvimento de Sistemas (ADS) na Faculdade de Tecnologia (FATEC). Estamos comprometidos em
        aplicar nossos conhecimentos acadêmicos na prática por meio de projetos inovadores, como nossa mais
        recente iniciativa: uma API desenvolvida utilizando o sistema Scrum. Em nossa jornada, buscamos
        aprimorar nossas habilidades técnicas e de trabalho em equipe, adotando metodologias ágeis para garantir
        a eficiência e qualidade do nosso trabalho. Estamos entusiasmados em enfrentar desafios e contribuir
        para o avanço da tecnologia, enquanto construímos uma base sólida para nossas carreiras profissionais.
      </p>
    </div>

  </div>
</div>


<!-- VISÃO -->
<br><br><br>

<div class="container bg-card-sobre-nos rounded card-sobre-nos ">

  <div class="row align-items-center">
    <div class="col-12 col-lg-3  order-lg-2"><img src="{{url_for('static', filename='images/visao.png')}}" alt="Visão"
        class="rounded img-card-sobre-nos"></div>
    <div class="col order-lg-1">
      <h2 class="text-lg-end ">Visão</h2>
      <p class="text-card-sobre-nos">
        A visão da nossa equipe de desenvolvimento de software é impulsionar a inovação e transformar ideias em
        soluções tecnológicas excepcionais, superando as expectativas dos nossos clientes e parceiros. Queremos
        ser reconhecidos como líderes na área de tecnologia, oferecendo produtos de alta qualidade que
        impulsionem o progresso e melhorem a experiência das pessoas. Nosso compromisso inclui criar um ambiente
        de trabalho inclusivo e inspirador, promovendo relações sólidas com os clientes baseadas em
        transparência, confiança e excelência técnica. Estamos focados em colaborar e crescer juntos, buscando
        constantemente aprimorar nossas habilidades e contribuir para o sucesso sustentável da equipe e de
        nossos projetos.</p>
    </div>

  </div>
</div>




<!-- OBJETIVOS -->
<br><br><br>

<div class="container bg-card-sobre-nos rounded card-sobre-nos">

  <div class="row align-items-center">
    <div class="col-12 col-lg-3 "><img src="{{url_for('static', filename='images/objetivo.png')}}" alt="Objetivo"
        class="rounded img-card-sobre-nos"></div>
    <div class="col">
      <h2>Objetivos</h2>
      <p class="text-card-sobre-nos">
        O objetivo deste sistema é se tornar um exemplo de excelência na divulgação de informações sobre a
        metodologia ágil Scrum, capacitando equipes em todo o mundo a aprimorar suas habilidades e conhecimentos
        por meio da nossa plataforma. Queremos ser o recurso de referência para profissionais e organizações que
        desejam adotar e aperfeiçoar seus processos ágeis, oferecendo conteúdo claro, didático e acessível a
        todos os usuários, independentemente do seu nível de experiência. A nossa visão é facilitar a
        especialização e o desenvolvimento de equipes em ambientes ágeis, promovendo práticas eficazes e
        impulsionando o sucesso na implementação do Scrum.
      </p>
    </div>

  </div>
</div>
<br><br>




{% endblock %}