<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML elements</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <style>
    .label {
      font-size: 1.5rem;
      font-weight: 500;
    }
  </style>
</head>

<body class="pb-5">

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-1">Samples</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col text-center">

        <button type="button" id="btnSwitch" class="btn btn-info">Toggle Theme</button>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">.bg-primary-subtle</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">.bg-secondary-subtle</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-success-subtle text-success-emphasis">.bg-success-subtle</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-danger-subtle text-danger-emphasis">.bg-danger-subtle</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">.bg-warning-subtle</div>
        <div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
        <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">.bg-info-subtle</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-light-subtle text-light-emphasis">.bg-light-subtle</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">.bg-dark-subtle</div>
        <div class="p-3 mb-2 bg-body-secondary">.bg-body-secondary</div>
        <div class="p-3 mb-2 bg-body-tertiary">.bg-body-tertiary</div>
        <div class="p-3 mb-2 bg-body text-body">.bg-body</div>
        <div class="p-3 mb-2 bg-black text-white">.bg-black</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
        <div class="p-3 mb-2 bg-transparent text-body">.bg-transparent</div>
      </div>
      <div class="col">
        <h1 class="display-1">Display 1</h1>
        <h1 class="display-2">Display 2</h1>
        <h1 class="display-3">Display 3</h1>
        <h1 class="display-4">Display 4</h1>
        <h1 class="display-5">Display 5</h1>
        <h1 class="display-6">Display 6</h1>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Paragraph. </p>
        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
        <p><del>This line of text is meant to be treated as deleted text.</del></p>
        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
        <p><u>This line of text will render as underlined.</u></p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p><strong>This line rendered as bold text.</strong></p>
        <p><em>This line rendered as italicized text.</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pt-3">
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </div>
        <div class="pt-3">
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-light">Light</button>
          <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
        <div class="pt-3">
          <label class="label">Disabled:</label>
          <button type="button" class="btn btn-primary" disabled>Primary button</button>
          <button type="button" class="btn btn-secondary" disabled>Button</button>
          <button type="button" class="btn btn-outline-primary" disabled>Primary button</button>
          <button type="button" class="btn btn-outline-secondary" disabled>Button</button>
        </div>
        <div class="pt-3">
          <label class="label">Active:</label>
          <button type="button" active class="btn btn-primary">Primary button</button>
          <button type="button" class="btn btn-secondary">Button</button>
          <button type="button" class="btn btn-outline-primary">Primary button</button>
          <button type="button" class="btn btn-outline-secondary">Button</button>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <label class="label">Gradient</label>
        <div class="p-3 mb-2 bg-primary text-white" style="background-image: var(--bs-gradient)">.bg-primary</div>
        <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis" style="background-image: var(--bs-gradient)">
          .bg-primary-subtle</div>
        <div class="p-3 mb-2 bg-secondary text-white" style="background-image: var(--bs-gradient)">.bg-secondary</div>
        <div class="p-3 mb-2 bg-secondary-subtle text-secondary-emphasis" style="background-image: var(--bs-gradient)">
          .bg-secondary-subtle</div>
        <div class="p-3 mb-2 bg-success text-white" style="background-image: var(--bs-gradient)">.bg-success</div>
        <div class="p-3 mb-2 bg-success-subtle text-success-emphasis" style="background-image: var(--bs-gradient)">
          .bg-success-subtle</div>
        <div class="p-3 mb-2 bg-danger text-white" style="background-image: var(--bs-gradient)">.bg-danger</div>
        <div class="p-3 mb-2 bg-danger-subtle text-danger-emphasis" style="background-image: var(--bs-gradient)">
          .bg-danger-subtle</div>
        <div class="p-3 mb-2 bg-warning text-dark" style="background-image: var(--bs-gradient)">.bg-warning</div>
        <div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis" style="background-image: var(--bs-gradient)">
          .bg-warning-subtle</div>
        <div class="p-3 mb-2 bg-info text-dark" style="background-image: var(--bs-gradient)">.bg-info</div>
        <div class="p-3 mb-2 bg-info-subtle text-info-emphasis" style="background-image: var(--bs-gradient)">
          .bg-info-subtle</div>
        <div class="p-3 mb-2 bg-light text-dark" style="background-image: var(--bs-gradient)">.bg-light</div>
        <div class="p-3 mb-2 bg-light-subtle text-light-emphasis" style="background-image: var(--bs-gradient)">
          .bg-light-subtle</div>
        <div class="p-3 mb-2 bg-dark text-white" style="background-image: var(--bs-gradient)">.bg-dark</div>
        <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis" style="background-image: var(--bs-gradient)">
          .bg-dark-subtle</div>
        <div class="p-3 mb-2 bg-body-secondary" style="background-image: var(--bs-gradient)">.bg-body-secondary</div>
        <div class="p-3 mb-2 bg-body-tertiary" style="background-image: var(--bs-gradient)">.bg-body-tertiary</div>
        <div class="p-3 mb-2 bg-body text-body" style="background-image: var(--bs-gradient)">.bg-body</div>
        <div class="p-3 mb-2 bg-black text-white" style="background-image: var(--bs-gradient)">.bg-black</div>
        <div class="p-3 mb-2 bg-white text-dark" style="background-image: var(--bs-gradient)">.bg-white</div>
        <div class="p-3 mb-2 bg-transparent text-body" style="background-image: var(--bs-gradient)">.bg-transparent
        </div>
      </div>
    </div>
  </div>

  <script defer src="../static/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('btnSwitch').addEventListener('click', () => {
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light')
      } else {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
      }
    })

  </script>
</body>

</html>