<!-- Footer -->
<!-- Requirements -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script> -->
<div class="container-fluid bg-dark text-center" style="padding-top: 1%;">

    <p style="color: white;">© Copyright 2024</p>
    <p style="color: white;">Feito por: <img src="{{ url_for('static', filename='images/bug-busters-logo-white2.png') }}"
        alt="BubBusters Logo" class="rounded icon-logo-bug-busters-footer"> <a
        class="link-light link-offset-2 link-underline link-underline-opacity-0" href="https://github.com/Fatec-Bug-Busters/scrum-academy.git" target="_blank"><img
          class="icon-github-footer" src="{{ url_for('static', filename='images/github_icon.png') }}" alt="GitHub_Icon">
        GitHub</a></p>

  </div>