{% extends "base.html" %}

{% block cover_img %}{% endblock %}

{% block content %}
<div class="container d-flex flex-column gap-5 w-75 py-4">

  <!-- QUESTÃO Modelo 1 -->
  <div class="q1-container">
    <!--  onclick="toggleText(this)" -->
    <div class="d-flex gap-3 align-items-center text-center">
      <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">1</h4>
      <p class="m-0 p-0">Modelo: 1 alternativa correta - radio</p>
    </div>
    <div class="d-flex m-4 align-items-center">
      <div class="mx-3">
        <input type="radio" class="btn-check" name="q1" id="q1a" value="a" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q1a">amet</label>
      </div>
      <div class="mx-3">
        <input type="radio" class="btn-check" name="q1" id="q1b" value="b" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q1b">molestie</label>
      </div>
      <div class="mx-3">
        <input type="radio" class="btn-check" name="q1" id="q1c" value="c" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q1c">sodales</label>
      </div>
      <div class="mx-3">
        <input type="radio" class="btn-check" name="q1" id="q1d" value="d" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q1d">ultrices</label>
      </div>
      <div class="mx-3">
        <input type="radio" class="btn-check" name="q1" id="q1e" value="e" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" for="q1e">nibh</label>
      </div>
    </div>
  </div>

  <!-- QUESTÃO Modelo 2 -->
  <div id="q2-container" class="container">
    <div class="d-flex gap-3 align-items-center text-center">
      <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">2</h4>
      <p class="m-0 p-0">Modelo: 2 altenativas corretas - checkbox</p>
    </div>
    <div class="d-flex m-4 align-items-center">
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2a" value="a" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q2a-label" for="q2a">amet</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2b" value="b" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q2b-label" for="q2b">molestie</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2c" value="c" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q2c-label" for="q2c">sodales</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2d" value="d" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q2d-label" for="q2d">ultrices</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q2" id="q2e" value="e" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q2e-label" for="q2e">nibh</label>
      </div>
    </div>
  </div>

  <!-- QUESTÃO Modelo 3 -->
  <div id="q3-container" class="container">
    <div class="d-flex gap-3 align-items-center text-center">
      <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">3</h4>
      <p class="m-0 p-0">Modelo 3: 2 altenativas corretas - completar lacunas
        <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q3-1" id="q3-1" value=""
          disabled>
        e
        <input type="text" class="border-0 border-bottom bg-transparent mx-2 text-center" name="q3-2" id="q3-2" value=""
          disabled>
        .
      </p>
    </div>
    <div class="d-flex m-4 align-items-center">
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q3" id="q3a" value="a" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q3a-label" for="q3a">amet</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q3" id="q3b" value="b" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q3b-label" for="q3b">molestie</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q3" id="q3c" value="c" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q3c-label" for="q3c">sodales</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q3" id="q3d" value="d" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q3d-label" for="q3d">ultrices</label>
      </div>
      <div class="mx-3">
        <input type="checkbox" class="btn-check" name="q3" id="q3e" value="e" autocomplete="off">
        <label class="btn btn-primary rounded-pill px-4" id="q3e-label" for="q3e">nibh</label>
      </div>
    </div>
  </div>

  <!-- QUESTÃO Modelo 4 -->
  <div class="q4-container">
    <div class="d-flex gap-3 align-items-center text-center">
      <h4 class="quiz-numeracao rounded-circle m-0 p-0 p-2 px-3">4</h4>
      <p class="m-0 p-0">Modelo 4: Associar colunas </p>
    </div>
    <div class="d-flex m-4 justify-content-around align-items-center">
      <!-- First column -->
      <div class="d-flex flex-column justify-content-around align-items-center gap-4">
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4a1" value="a1" autocomplete="off">
          <label class="btn btn-primary rounded-pill px-4" for="q4a1">amet</label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4b1" value="b1" autocomplete="off">
          <label class="btn btn-primary rounded-pill px-4" for="q4b1">molestie</label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4c1" value="c1" autocomplete="off">
          <label class="btn btn-primary rounded-pill px-4" for="q4c1">sodales</label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4d1" value="d1" autocomplete="off">
          <label class="btn btn-primary rounded-pill px-4" for="q4d1">ultrices</label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4e1" value="e1" autocomplete="off">
          <label class="btn btn-primary rounded-pill px-4" for="q4e1">nibh</label>
        </div>
      </div>
      <!-- Second column -->
      <div class="d-flex flex-column justify-content-around align-items-center gap-4">
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4a2" value="a2" autocomplete="off">
          <label class="btn btn-outline-primary rounded-pill px-4" for="q4a2">
            egestas quis fermentum sed, fringilla vitae augue.
          </label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4b2" value="b2" autocomplete="off">
          <label class="btn btn-outline-primary rounded-pill px-4" for="q4b2">
            Sed tincidunt purus neque, sit amet hendreritrisus congue pulvinar.
          </label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4c2" value="c2" autocomplete="off">
          <label class="btn btn-outline-primary rounded-pill px-4" for="q4c2">
            Nunc elementum, lacus
          </label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4d2" value="d2" autocomplete="off">
          <label class="btn btn-outline-primary rounded-pill px-4" for="q4d2">
            Dapibus ultrices, quam metus
          </label>
        </div>
        <div class="mx-3">
          <input type="checkbox" class="btn-check" name="q4" id="q4e2" value="e2" autocomplete="off">
          <label class="btn btn-outline-primary rounded-pill px-4" for="q4e2">Aenean euismod, mi
          </label>
        </div>
      </div>
    </div>
    <div id="q4-associacoes" class="d-flex flex-column justify-content-around align-items-center gap-4">
      <p></p>
      <!-- <table class="table table-responsive table-borderless table-hover">
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
{% endblock content %}